[2015-07-12 15:46] sweetpi commented on #691
ok.

[2015-07-13 10:44] Flop2006 opened #692 "stop action for DummyShutter causes error"
The stop action for the DummyShutter class causes an error:
"Next action of "stop rolladen-schlafzimmer" is ambigous."

Rule:
```if off-button is pressed then stop rollladen-schlafzimmer```
Device:
[code]

[2015-07-13 10:49] leader21 commented on #692
There's a typo. Either write rolladen-schlafzimmer or rollladen-schlafzimmer

[2015-07-13 10:52] Flop2006 commented on #692
sorry, didn´, copy paste it. It is "rollladen-schlafzimmer" in both cases.

[2015-07-13 11:14] tomansi commented on #687
Sorry for the late response . I spent a few days holiday .

I added the line

`console.log event, p`

I check change:

`coffe-cache: compiling coffee-script file "homeduino.coffee" ... Done`

but I don't see any new message.

I run pimatic as service and I see log messages, log events and log file (pimatic-daemon.log).
Also I run pimatic directly with `sudo node_modules/pimatic/pimatic.js` but no

[2015-07-16 09:19] tester22 opened #693 "[pimatic-mobile-frontend]: Client error: Cannot read property 'errorCount' of undefined"
After the latest update of pimatic. The following message is occures when the log entires are deleted:
error [pimatic-mobile-frontend]: Client error: Cannot read property 'errorCount' of undefined

[2015-07-16 16:25] tomansi commented on #687
@sweetpi I have installed coffee-script with:

`cd /usr/local`
`npm install -g coffee-script`

but I don't know use console yet.

I'm sorry.

[2015-07-17 18:18] camillo777 opened #694 "Error on update "bad gateway""
Bad gateway
Log messages
Error

All

Showing 37 of 22963 Messages
2015-07-17 20:18:06error [pimatic]: { name: 'StatusCodeError', statusCode: 502, message: '502 - <html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body bgcolor="white">\r\n<center><h1>502 Bad Gateway</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n', error: '<html>\r\n<head><title>502 Bad G

[2015-07-22 18:15] sweetpi commented on #694
The update server was down. Should be working again now.

[2015-07-22 18:15] #694 closed

[2015-07-22 18:18] sweetpi commented on #687
Which config class do you use? For the edit from above you should use `class: "HomeduinoRFTemperature"`.

[2015-07-22 18:19] sweetpi commented on #693
Thanks for the report. Which browser? Could you give steps to reproduce?

[2015-07-22 18:21] sweetpi commented on #692
@Flop2006 Could you post all your devices (config)?

[2015-07-22 18:25] sweetpi commented on #691
@fbeek any news?

[2015-07-22 18:49] fbeek commented on #691
Hey.Yes. I have written a patch for this, but i am still testing. I think till the weekend i will create a merge request.

[2015-07-22 21:35] tomansi commented on #687
First I was using HomeduinoRFTemperature but leader21 suggested me HomeduinoRFweather when I post in the forum (second entry in http://forum.pimatic.org/topic/623/problem-with-3-sensors-using-weather1).

I will change the class and try again.

[2015-07-22 21:53] tomansi commented on #687
Eureka !

This is a piece of log:

{ protocol: 'weather1',
  values:
   { id: 28,
     channel: 1,
     temperature: 27.5,
     humidity: 30,
     lowBattery: false } } { name: 'weather1', id: 28 }
{ protocol: 'weather1',
  values:
   { id: 28,
     channel: 1,
     temperature: 27.5,
     humidity: 30,
     lowBattery: false } } { name: 'weather1', id: 147 }
{ protocol: 'weather1',
  values:
   {

[2015-07-22 22:51] tomansi commented on #687
Now, I write the json as:

[code]
and work fine.

I see the problem with the options key. The original and definition are:
[code]

Thank very much for your help.  !!!!!

[2015-07-23 05:27] camillo777 commented on #694
Hi I am still getting the same error.
Camillo

[2015-07-23 06:10] Flop2006 commented on #692
[code]

[2015-07-23 08:00] n3roGit commented on #216
I use the link Addon as work around

[2015-07-23 10:34] #687 closed

[2015-07-24 10:31] xpix commented on #683
Ok, i'll check this.

[2015-07-28 05:58] #691 closed

[2015-07-28 06:11] sweetpi commented on #687
Good that it is solved. Sorry for my long response time. I didn't catch the wrong config, we need to add some more config checks here....

[2015-07-28 06:13] sweetpi commented on #694
@camillo777 still still  :D ? Maybe some caching issue. Checked the server again and it is operating normaly.

[2015-07-28 12:21] camillo777 commented on #694
Yes after 1 day it was ok. Now it is ok! Thank you!

[2015-07-28 17:09] p4co86 commented on #692
same error for me with the dummy shutter device

[2015-07-28 17:09] #693 closed

[2015-07-29 14:55] Smartledlighting commented on #348
www.miberi.com

[2015-07-29 19:09] tong67 opened #696 "property name not checked in validity"
I just started exploring pimatic. After following the HOWTO intro I run into problems with the homeduino. After many experiments I finally was able to find my mistake. I used switch6 with properties "systemcode " and "programcode ". Notice the space added to the names. No error were reported on any level. When I found my mistake I tried with "foo" instead of "systemcode". Also that was accepted wi

[2015-07-29 20:53] bjoerns1983 commented on #341
There were very recent developements in this project: https://github.com/KhaosT/HAP-NodeJS
Also there is a fork called Home Bridge: https://github.com/nfarina/homebridge

Maybe its worth another try.

[2015-07-30 08:15] tomreinartz90 opened #697 "HomeduinoRFButtonsDevice not triggering rules"
Hi,

i use a lot of 443 devices in and around my house to control mostly lights and to control everything with a 443 remote control by KAKU i would like to use the HomeduinoRFButtonsDevice.

I have added the device with the following config:
[code]

And the rule to control my dimmer

[code]

If i press the button on my remote or in the webinterface the rule does not get triggered and there is also

[2015-07-30 09:05] leader21 commented on #697
Your rule cannot trigger your buttons device since you are using the wrong names for triggering.
try the following : "if switch-1-2-on is pressed then dim dimmer to $dimmer.state + 10%",
maybe this helps.

Furthermore please post questions about support at http://forum.pimatic.org and only bugs at git.  thx!

[2015-07-30 12:14] tomreinartz90 commented on #697
Hi Leader21,

Thanks for the input, i changed the ID but it did not resolve my problem.
If i use the dummyButtons device i have no problem to trigger rules. But then i still cannot use the remote.

I have updated my previous comment to match the current configuration.

[2015-07-30 13:17] sweebee opened #698 "[bug] rain value set to unknown"
After a time the rain value of the open weather device is set to unknown?

![](https://i.imgur.com/akTX4Hz.png)

![](https://i.imgur.com/qp7FoP2.png)

[2015-07-31 10:57] tomreinartz90 commented on #697
[code]
I have added the @emit and the Promise.resolve method to the buttonPressed and it works when i press the buttons in the webinterface. Later today i will test if this also triggers an event when i press a button on the remote.

If this resolves the issue i will try to make a pull request with my changes.

[2015-08-01 13:45] tomreinartz90 commented on #697
i have created a pull request to resolve my issue:
https://github.com/pimatic/pimatic-homeduino/pull/41

[2015-08-02 16:58] georg90 opened #699 "[pimatic-mobile-frontend] Cannot set property 'prev' of null"
The error keeps repeating (no end..)

It occures in an incognito tab on google chrome. No error on microsoft edge.

[code]

[2015-08-03 09:16] camillo777 opened #700 "Error loading graph data for new device"
Hi,
I tried to see graph data for a device added yesterday.
I have got this message.

![unnamed](https://cloud.githubusercontent.com/assets/4798456/9034555/f17fe292-39d0-11e5-81d6-5fbee89e45a6.png)

[2015-08-03 19:43] RogerHartmann opened #701 "usage of 'out' in constructor can cause glitches, not inverting defaultstate"
i have found this behaviour which causes an undesired glitch by using out:
this in the constructor sets the IO to out-LOW
@gpio = new Gpio config.gpio, 'out'
in this lines, it is then set to high (assuming defaultStage = high)
if @config.defaultState?
        @_state = @config.defaultState
in my case, this causes a glitch because for a short time the port is driven low (and not going from high imp

[2015-08-09 07:12] sweetpi commented on #697
Fix merged :)

[2015-08-09 07:12] #697 closed

[2015-08-09 07:14] #701 closed

[2015-08-09 07:34] sweetpi commented on #701
@RogerHartmann Thanks for reporting and the fix, I released it with pimatic-gpip v0.8.7. Please reopen if there are still any problems.

[2015-08-09 07:43] sweetpi commented on #699
Do you have a stack trace for that? (following debug message).

[2015-08-09 07:44] sweetpi commented on #700
I released a potential fix with pimatic-mobile-frontend v0.8.66. Please reopen if the problem still exists.

[2015-08-09 07:44] #700 closed

[2015-08-09 13:18] Yves911 opened #702 "pimatic-homeduino version 0.8.56 buttons is not defined"
Since pimatic-homeduino  version 0.8.56, i have this error message

[code]

[2015-08-09 20:09] skipper79 commented on #702
Same to me. And my switches does not work anymore 😏 since last update!

[2015-08-10 06:03] Yves911 commented on #702
@skipper79 you are right, switches are not functional anymore and pimatic see no more messages coming from my weather stations...

[2015-08-10 07:36] easy12 commented on #701
Hi,

unfortunately this "fix" breaks the normal behavior with at least Pi 2. All relais are turned "on" after pimatic startup, regardless of which defaultstate is set or if the value exists at config. The inverted value is set. Pimatic nevertheless shows correct that everything is turned on and I can turn off but of cause thats not the intention. Before it worked with both inverted and defaultStat

[2015-08-10 09:44] sweetpi commented on #701
Thanks for the fast reporting. Silly mistake, should now be working with the version 0.8.8 of pimatic-gpio.

[2015-08-10 09:53] sweetpi commented on #702
Thanks for the fast reporting. Should be fixed in v0.8.56. Can you confirm?

[2015-08-10 16:47] Yves911 commented on #702
Yes it's working fine now, thanks a lot !!!!!

[2015-08-10 16:47] #702 closed

[2015-08-10 17:51] skipper79 commented on #702
I agree. It's working now! Thx!

[2015-08-10 18:08] georg90 commented on #699
unfortunately not..will see if it happens again.

[2015-08-10 18:31] bjornhij commented on #341
Gave it a try but ran into node version problems. homebridge needs node 0.12 (https://github.com/KhaosT/HAP-NodeJS/issues/57), but pimatic only supports 0.10 http://pimatic.org/guide/getting-started/installation/

[2015-08-10 19:25] bjornhij commented on #341
Got it to start on node 0.10 by changing the last line in homebridge/node_modules/HAP-NodeJS/node_modules/ed25519/src/ed25519.cc to

NODE_MODULE(ed25519, InitModule)

(was NODE_MODULE(native, InitModule))

[2015-08-10 19:45] bjornhij commented on #341
Managed to create a proof of concept by switching on and off some lights via the pimatic REST api by creating a new 'Pimaticaction Accessory'. Will check in the following days if the homekit implementation is stable. If it is, we can try to create a pimatic platform via the API.

[code]

[2015-08-10 20:06] sweetpi commented on #341
Looks promising, sadly I don't own a ios device to try...

[2015-08-10 20:17] sweebee commented on #341
I have iOS devices. I could test when i'm back home from vacation.

[2015-08-10 20:39] bjornhij commented on #341
It still isn't very stable. It seems I cannot add devices to two different devices (that are on different apple accounts). This probably is an issue in the HAP server. Also, it is very annoying the $2 app does not allow me to delete a device, so if I rename a device I have to reset and rebuild the configuration. Will experiment some more later this week.

[2015-08-10 21:00] bjornhij commented on #341
This PR will probably solve some (all?) of the issues:

https://github.com/KhaosT/HAP-NodeJS/pull/110

[2015-08-11 08:11] easy12 commented on #701
Thanks, fix works.

[2015-08-11 15:39] georg90 commented on #699
error seems to be gone, since the last update..I will keep an eye on this and reopen if it does!

[2015-08-11 15:39] #699 closed

[2015-08-15 07:22] thorstenreichelt opened #703 "Pimatic daemon not working"
Hi,
I installed pimatic on my raspberry pi using the original pimatic manual (http://pimatic.org/guide/getting-started/installation/) and also configured the autostart option.

My problem is, if I use "sudo node_modules/pimatic/pimatic.js" to start pimatic it work's just fine, but if I use "sudo node_modules/pimatic/pimatic.js start" or "sudo pimatic start", i get the "Started" back, but the webse

[2015-08-15 08:43] leader21 commented on #703
Try `sudo service pimatic start` to run the daemon.
also please have a look at our forum http://forum.pimatic.org and the howto no. 1 http://forum.pimatic.org/topic/192/1-setup-pimatic-from-scratch .
follow the steps from no. 11 downwards.

[2015-08-15 08:45] poeml commented on #703
Hi,

I just observed that when pimatic has been started via the "service" tool, and crashes, it can't be started again via the service tool. I assume that some pid file or other state file is not cleaned up. Anyhow, after issuing a "service pimatic stop" once, "service start" works again for me.

So to fix would be to clean up the state file in case of a crash, or to have the init script look clos

[2015-08-16 18:16] thorstenreichelt commented on #703
The post pimatic from scratch after a clean install works fine now. Thanks for help!

[2015-08-16 18:16] #703 closed

[2015-08-17 07:12] sanstarr opened #704 "error [pimatic]: A uncaught exception occured: TypeError: Cannot read property 'length' - Receiver Homeduino"
Error Message:
error [pimatic]: A uncaught exception occured: TypeError: Cannot read property 'length' of undefined at Function.Buffer.concat (buffer.js:491:20) at afterRead

(/home/pi/pimatic-app/node_modules/pimatic-homeduino/node_modules/homeduino/node_modules/serialport/serialport.js:323:36) at /home/pi/pimatic-app/node_modules/pimatic-

homeduino/node_modules/homeduino/node_modules/serialport

[2015-08-17 08:16] mwittig commented on #704
I had this problem too and it turned out to be powering issue in my case. What kind of power adapter do you use for raspberry? How many USB devices do you have attached to it?

[2015-08-17 08:56] sanstarr commented on #704
Hi!
I use a Power Adapter with 2000mA
USB Devices: Only the Arduino nano (with 433MHz Receiver + Transmitter)
Other Equipment: Raspi Cam + I2C Display + DS1820 - Too much for this Adapter?

[2015-08-17 20:14] RogerHartmann commented on #701
thanks for fixing :-) I am on vacation, therefore the late reply, have to get home to check

[2015-08-18 19:07] thorstenreichelt opened #705 "Read Only Device in Gui"
Hey,

is there an option for a read-only 433mhz (homeduino) device in the gui like pilight has?

[2015-08-20 13:47] mwittig commented on #15
As far as I understand the plugin request it can be closed now thanks to the advent of https://www.npmjs.com/package/pimatic-ipcamera

[2015-08-20 18:58] mwittig commented on #705
See also http://forum.pimatic.org/topic/799/read-only-homeduino-device

[2015-08-20 18:59] mwittig commented on #698
Hi, I think I know what it is and I am going to fix it soon.

[2015-08-20 19:06] mwittig commented on #696
Agree. Validity checking is still something which needs to be implemented in many places throughout the pimatic codebase. Regarding homeduino is also confusing as the various switching protocols have varying properties.

Regarding your question:

Yes, certainly. To start with it should be implemented as part of the rfcontroljs package so that checking is available for the homeduino protocols. Howe

[2015-08-21 15:28] #705 closed

[2015-08-23 09:35] bjornhij opened #706 "Remove 300ms click delay on iOS"
On iOS the buttons sometime lag, or do not work at all. This probably is due to the 300ms click delay between a button tap and the firing of the event, that is used to detect if the user wants to double click.

The fastclick library eliminates this delay (https://github.com/ftlabs/fastclick). I 'hacked' the library into my pimatic and for me the delay is now gone.

Is anyone else experiencing lag

[2015-08-23 16:17] thorstenreichelt commented on #658
I have the same error like @n3roGit. The Log is getting bigger and bigger. Any update on this issue?

[2015-08-25 06:58] incmve commented on #704
Since a few days I am also receiving a simmelar error, nothing changed in my setup.
It's not daily and my pimatic keeps running.
[code]

[2015-08-27 13:08] p4co86 opened #707 "Cannot read property 'toJson' of null"
every time i entered the web gui i see to times of this error message.
[code]

[2015-08-28 14:46] sweetpi commented on #707
Can you enable debugging to get a stack trace (debug message)?

[2015-08-28 14:48] sweetpi commented on #704
However probably pimatic-homeduino is not working anymore, if the error occures. This error indicates a problem with the (usb) serial connection to the arduino. Mostly a hardware issue: broken arduino, unrelayable power supply, bad cable,...

I can't do very much about this..

[2015-08-28 14:48] #704 closed

[2015-08-28 14:56] sweetpi commented on #658
The error should now only be logged ones per device. I also changed the log level to warning.

[2015-08-28 14:56] #658 closed

[2015-08-28 14:57] sweetpi commented on #706
Please add a pull request. I then will take a deeper look into it.

[2015-08-28 14:58] #15 closed

[2015-08-28 18:43] bjornhij commented on #706
Three things need to be done to the pimatic-mobile-frontend code:

1) We need to add fastclick.js to the app/js folder;
2) We must load the fastclick.js script (in mobile-frontend.coffee, near line 167 - in the same list where among others jquery is loaded);
3) We have to initialize fastclick with a few lines of javascript. I'm not sure where to do this, so I added the lines to fastclick.js (at th

[2015-08-28 20:36] p4co86 commented on #707
Now i got this:
[code]

[2015-09-02 18:09] thorstenreichelt commented on #659
Which dns server do you use? Have you tried the 8.8.8.8 from google as dns in your network settings? Did you also cleared you webbrowser cache?

[2015-09-03 11:13] borisxm commented on #659
Even with Google's DNS forum doesn't work, as well as api.pimatic.org:

dig forum.pimatic.org @8.8.8.8
; <<>> DiG 9.9.5-3ubuntu0.4-Ubuntu <<>> forum.pimatic.org @8.8.8.8
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 5554
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1
;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 512
;; QUE

[2015-09-03 12:09] mwittig commented on #659
Works for me! @borisxm maybe it is an issue with your IP provider? Can you traceroute 185.82.21.117, please?

[code]

[2015-09-03 12:23] borisxm commented on #659
Here it is:
traceroute -q1 forum.pimatic.org
traceroute to forum.pimatic.org (185.82.21.117), 64 hops max, 40 byte packets
 1  82.200.154.46 (82.200.154.46)  1.754 ms
 2  92.47.145.100 (92.47.145.100)  20.295 ms
 3  95.59.172.9 (95.59.172.9)  16.172 ms
 4  95.59.172.15 (95.59.172.15)  20.289 ms
 5  217.150.44.146 (217.150.44.146)  32.393 ms
 6  *
 7  fra-anc-02gw.voxility.net (80.81.195.144)  103.

[2015-09-03 13:09] sebastienvg commented on #659
@sweebee I suspect voxility blocked your IP 185.82.195.249 on 5.254.86.6 (ddos.protectd...) not sure how to go about this, maybe @sweetpi can reach out to them and ask why the IP was catch by their anti-ddos system?

[2015-09-06 16:37] mwittig opened #708 "[pimatic-mobile-frontend] Adding attributes to a dimmer device raises TypeError"
A dimmer device  with attributes raises a TypeError error. Adding attributes to other device types, e.g. a power switch, works as expected.
[code]
Steps to reproduce

Create a dimmer device with an attribute, e.g., modify the DummerDimmer by adding an attribute
[code]

[2015-09-09 23:28] asksimplicity opened #709 "A uncaught exception occured: Error: read ECONNRESET"
```error [pimatic]: A uncaught exception occured: Error: read ECONNRESET at errnoException (net.js:901:11) at TCP.onread (net.js:556:19) This is most probably a bug in pimatic or in a module, please report it!```

I think this has something to do with my doorsensors because a related rule gave an econnreset error too:

``` Error on evaluation of rule condition of rule e-mail-indien-voordeur-wordt-

[2015-09-10 21:07] sweetpi commented on #709
Which plugin does the doorsensor belong to?

[2015-09-10 21:17] sweetpi commented on #708
Hm I think the problem is that you don't add the attribute, you are overriding it with the new attribute.

A proper implementation would be either:

[code]

or even better:

[code]

Every DimmerDevice needs an dimlevel attribute (in %).

[2015-09-10 21:19] sweetpi commented on #707
Difficult to say. It is either a device, variable, rule or page that is null, but it shouldn't. If you like, you can post your config or send it me via mail.

[2015-09-10 21:20] sweetpi commented on #706
Should be resolved with the pull request. If there are still problems, please reopen.

[2015-09-10 21:21] #706 closed

[2015-09-10 21:23] #708 closed

[2015-09-10 21:23] #683 closed

[2015-09-10 21:24] sweetpi commented on #672
No response, so closing.

[2015-09-10 21:24] #672 closed

[2015-09-10 21:44] sweetpi commented on #659
I got a mail from my provider, that they updated ther ddos protection mechanism. @borisxm Can you still no access the forum?

[2015-09-10 21:54] mwittig commented on #708
Thanks for the clarification! I'll give it a try and let you know

[2015-09-11 05:29] borisxm commented on #659
Nope, doesn't work. Traceroute still can't pass past ddos.protected.fra-ae0.net. It is interesting, that 82.200.154.32/28 corporate network are very quiet and heavy filtered one, so it is highly unlikely to receive any 'ddos' from it in the past.

[2015-09-11 08:05] asksimplicity commented on #709
pimatic-homeduino.

[2015-09-11 09:14] sweetpi commented on #709
Thats strage, because homeduino does not use a tcp connection.

[2015-09-11 14:02] asksimplicity commented on #709
Maybe it's because I'm sending an e-mail when the door is opened?

{
      "id": "voordeur-deurcontact",
      "name": "Voordeur",
      "class": "HomeduinoRFContactSensor",
      "protocols": [
        {
          "name": "contact2",
          "options": {
            "id": xxxxxx
          }
        }
      ],
      "autoReset": true,
      "resetTime": 120000
    }

[2015-09-11 15:04] mwittig commented on #709
How do you send e-mail? Via pimatic-mail or pimatic-shell-execute?

[2015-09-12 08:35] sweetpi commented on #659
From Support (translated to english):

@borisxm I already supplied your traceroute, but could you do one more and post it here?

[2015-09-12 10:08] mwittig commented on #708
I tried and it works as you said. Thanks again.

[2015-09-12 10:16] mwittig opened #710 "[pimatic-mobile-frontend] Custom Dimmer Attributes not displayed"
I have implemented a custom Dimmer and would like get additional attributes displayed (everyting except state and dimlevel) as it is possible with Switch devices, for example. Extending the `dimmer-template` as part of index.jade is farirly easy, but I am struggling with proper style settings, to get everyting rendered, nicely.  So, I need some help here, please.

[2015-09-16 11:59] p4co86 commented on #707
ok, this is my config:
[code]

[2015-09-16 12:14] incmve commented on #707
This might be your problem
[code]

Try replacing null for a number or remove the entire line.

[2015-09-16 13:13] mwittig commented on #707
Too bad. It seems like the development version of the mail plugin creates this property. As the plugin code does not set "maxMessages"  explicitly, I think the embedded "nodemailer" package is the culprit (possibly a bug as part of nodemailer 0.7.1). I can work around this by duplicating the option before passing them to "nodemailer".

[2015-09-16 16:50] Icesory opened #711 "[pimatic-homeduino] Cannot read property 'length' of undefined"
I run once a day in a failure with homeduino.
[code]

It is possible, that my arduino has a failure. But at the moment i haven´t discovered the error.

[2015-09-16 18:54] p4co86 commented on #707
It is not the mail plugin, because i have it installed after the are was still present. So it should come from anything else, i have no idea what it could be.

[2015-09-16 19:16] incmve commented on #707
I'm not saying its the mail plugin but pimatic can crash when you have "null" somewhere.
see here https://github.com/pimatic/pimatic/issues/555

like @sweetpi said

[2015-09-16 21:20] mwittig commented on #707
Well, the property property/value `"maxMessages": null`has been created by by mail plugin as I pointed out. I have fixed in meanwhile.

[2015-09-17 06:29] incmve commented on #711
Your not alone :)
https://github.com/pimatic/pimatic/issues/704

[2015-09-17 08:33] sweetpi commented on #711
This error indicates a unstable serial connection. Try another arduino / power supply / kernal.

[2015-09-17 08:34] sweetpi commented on #659
I got the final response from my server provider:

[2015-09-17 08:35] #659 closed

[2015-09-17 13:02] mwittig commented on #707
@p4co86 I am not sure why @sweetpi closed the ticket. Do you still get the error message?

[2015-09-17 14:10] p4co86 commented on #707
yes the error is still present.

[2015-09-17 15:30] borisxm commented on #659
It started to work about day ago. The traceroute now completes normally:

traceroute -q1 forum.pimatic.org
traceroute to forum.pimatic.org (185.82.21.117), 64 hops max, 40 byte packets
 1  82.200.154.46 (82.200.154.46)  1.759 ms
 2  92.47.145.100 (92.47.145.100)  21.744 ms
 3  95.59.172.9 (95.59.172.9)  22.721 ms
 4  95.59.172.15 (95.59.172.15)  19.883 ms
 5  ebg06.transtelecom.net (217.150.36.58)

[2015-09-18 08:43] Ruba5913 opened #712 "Translation error in openweather dutch"
Hello,
There is a translation error when I use language "nl".
rain should be regen and snow should be sneeuw !!

![image](https://cloud.githubusercontent.com/assets/13299398/9955479/addc2cea-5df1-11e5-8053-b433d2963379.png)

[2015-09-18 09:10] mwittig commented on #712
Hi. Thanks for your report! Actually, the attribute names have not been localized yet. I have filed a feature request for this (see link above) as we have a separate queue for pimatic-openweather.

Please close this ticket, thanks!

[2015-09-18 11:55] asksimplicity commented on #709
plugin: mail.

Rule:

   {
      "id": "e-mail-indien-voordeur-wordt-geopend",
      "name": "e-mail indien voordeur wordt geopend",
      "rule": "if voordeur-deurcontact is opened then send mail to:\"mark.w.huys@gmail.com\" subject:\"Security: Voordeur geopend op {date()}\" text:\"Op {date()} werd de voordeur geopend.\" and push title:\"Voordeur werd geopend op {date()}\" message:\"Voordeur werd

[2015-09-18 12:26] Ruba5913 commented on #712
Ok. thank you for the quick respons

[2015-09-18 12:26] #712 closed

[2015-09-19 08:57] sweetpi commented on #707
Sorry closed it accidentally. We debug this in two steps:

1. I released an updated version of pimatic (v0.8.81) which should gives us more info about where the error does occure.
2. Then We will try to fix the error...

@p4co86 Could you update to v0.8.81 and post the new error message?

[2015-09-19 08:59] sweetpi commented on #659
Nice, that is working now. If there should be any issues again, please post again here.

[2015-09-19 09:00] sweetpi commented on #709
@asksimplicity Did the error occur just one time (maybe no internet) or does is appear periodically?

[2015-09-19 11:32] asksimplicity commented on #709
It happened a few times, without specific timing; I'm quite sure the internetconnection was working at the time. However, since the second last update I haven't seen the error :)

[2015-09-20 16:12] mwittig opened #713 "[pimatic] roundToNearest raises unhandled rejection ReferenceError: device is not defined"
see http://forum.pimatic.org/topic/615/output-of-the-ds18b20-sensors/9

[2015-09-21 07:36] p4co86 commented on #707
i noticed yesterday, that the battery from one temperature sensor was empty. the status was null.
actually it looks like the issue is solved. I 'll be watching this.

[2015-09-21 08:17] mwittig commented on #622
@sweetpi I think this one can be closed as @bboab has not replied for 5 months. Most likely this configuration error.

[2015-09-21 08:21] mwittig commented on #462
@demlak The mail plugin now supports HTML text. This way a message body with multi-line text can be created. Most e-mail clients support HTML text these days.

@sweetpi I think this issue ticket can be closed.

[2015-09-21 09:20] mwittig commented on #664
@asksimplicity Do you still get this error, occasionally?

[2015-09-21 09:38] #622 closed

[2015-09-21 10:52] demlak commented on #462
I would prefer multiline Text Mail
HTML Mails Produce more traffic and are not that good automatic readable by scripts/progs

[2015-09-21 11:24] mwittig commented on #462
Unfortunately, this does not sem to be possible with the nodemailer package used as part of pimatic-mail. The author appears to believe it is not a nodemailer issue but  a problem with the MTA. I tend to disagree on that as I have tested with various MTAs. See https://github.com/andris9/Nodemailer/issues/41

[2015-09-21 16:26] ich92 opened #715 "Error"
Hello, I have the following error in pimatic:

[code]

[2015-09-21 16:45] sweetpi commented on #707
Ok pls reopen if it happens again.

[2015-09-21 17:03] sweetpi commented on #462
I don't see the problem. If the string contains new lines, then these should be in the email, or? Some mail clients need two new lines to render it as one new line.

[2015-09-21 17:21] p4co86 commented on #707
It happens again, i have updated to 0.8.81 but i get the error message is ambiguous.... in cimbination with kodi plugin, do you have a hint so i can fix this? Thats the reason because i would not update my versionbefore was 0.8.75

[2015-09-21 17:55] p4co86 commented on #707
Now i get this error:
[code]

[2015-09-21 18:04] mwittig commented on #462
Unfortunately not. I have tried the following:
text:"Just\\n\\na test"  --> Just\n\na test
text:"Just\\r\\na test"  --> Just\r\na test
text:"Just\r\na test"  --> Justrna test

[2015-09-21 18:13] mwittig commented on #713
Fixed in release 0.8.82

[2015-09-21 18:13] #713 closed

[2015-09-21 20:38] sweetpi commented on #707
Ok I see. You are trying to get a variable that doesn't exist via api?

[2015-09-21 20:43] sweetpi commented on #462
With  pimatic v0.8.83 "\n" should now be parsed as new line :)

[2015-09-21 21:36] mwittig commented on #462
Wow, that great! Works fine for me! Thanks for sorting this!

text:"Hi\neverybody"  -->
Hi
everybody

[2015-09-22 06:52] #462 closed

[2015-09-22 06:53] p4co86 commented on #707
oh yes i can reproduce it is my tablet, i show the energy conumption in the notification and i have change my energymonitor system so the variable the tablet is looking for is exist no longer.
thank you very much.

what about the ambiguous error?

[2015-09-22 07:18] incmve commented on #462
:+1:

[2015-09-22 10:54] sweebee opened #716 "not defined error"
Since today i get these errors everytime the rule executes:

12:40:00error [pimatic]: rule wake-phones error executing an action: __ is not defined
12:40:00error [pimatic]: rule wake-phones error executing an action: __ is not defined
12:40:00error [pimatic]: Error on evaluation of rule condition of rule wake-phones: __ is not defined

The rule:

if every 5 minutes then execute "sudo hping3 -2 -c

[2015-09-22 11:06] mwittig commented on #716
Did you update to the latest pimatic version 0.8.83?

[2015-09-22 11:38] sweebee commented on #716
Havent updated. But there is something terrible wrong. I refreshed the mobile frontend in the browser and all i get is Cannot GET /.

[2015-09-22 11:45] sweebee commented on #716
Looks like a lot of files are gone in the mobile frontend plugin. I'm trying to reinstall mobile frontend

[2015-09-22 12:52] #716 closed

[2015-09-22 13:29] sweetpi commented on #707
@p4co86 You are using the kodi plugin, right? @Fjuxx has just give me ownship to the npm package. Howeve I need to setup kodi for testing first.

[2015-09-22 13:31] sweetpi commented on #716
Maybe a problem while updating. @sweebee Just in case make sure you have an backup of your sd card.

[2015-09-22 14:00] sweetpi commented on #716
I justed published the update for the pimatic-kodi package. So the error should be gone.

[2015-09-22 14:30] georg90 commented on #651
was due to the certificate error.
Close since there's an app now :)

[2015-09-22 14:30] #651 closed

[2015-09-22 14:52] p4co86 commented on #707
yes, but the error also comes with the dummy shutter device. see here: https://github.com/pimatic/pimatic/issues/692

[2015-09-22 15:17] sweetpi commented on #692
Sorry for the long waiting time... fixed in pimatic v0.8.84.

[2015-09-22 15:17] #692 closed

[2015-09-22 15:17] sweetpi commented on #707
@p4co86 thanks for clearification.

Fixed in pimatic v0.8.84.

[2015-09-22 15:17] #707 closed

[2015-09-22 15:20] sweetpi commented on #715
Thanks for reporting. Could you post your database config?

[2015-09-22 15:49] ich92 commented on #715
I think the error message comes from the openweather-plugin from the rain data

My database configuration:
"database": {
      "client": "mysql",
      "connection": {
        "host": "127.0.0.1",
        "user": "root",
        "password": "********",
        "database": "pimatic"
      },
      "deviceAttributeLogging": [
        {
          "deviceId": "*",
          "attributeName": "*",
"type

[2015-09-22 17:26] sweetpi commented on #715
I think you are right. Should be fixed with pimatic v0.8.85. Please reopen if the issue still exists.

[2015-09-22 17:26] #715 closed

[2015-09-22 18:02] mwittig commented on #715
@sweetpi I am happy to revise the openweather plugin. Currently, values are initialized with "null". In case data cannot be acquired from openweather (sometimes rain data is not contained in the data set!) the value is invalid. Shall we set initial values to "0"? What are your throught on this.

[2015-09-22 18:07] sweetpi commented on #715
null as initial value is absolutely perfect. However it shouldn't be NaN.

[2015-09-22 18:40] mwittig commented on #715
Ok, I'll add some assertions on my dev fork to see if I can reproduce a NaN case, e.g. invalid data received from openweather

[2015-09-23 13:02] sweetpi commented on #710
@mwittig I've pushed a patch for this: https://github.com/pimatic/pimatic-mobile-frontend/tree/dimmer-attributes

Could you check if it works for you.

[2015-09-24 14:27] mwittig commented on #710
@sweetpi Thank you very much for looking into this. I'll give it a try asap.

[2015-09-25 14:32] p4co86 opened #717 "Update error"
when i try to search updates, i get the following:

[code]

[2015-09-25 16:48] sweetpi commented on #717
Strange, seems that the update server was not responding. However it seems to be working right now. Please reopen if it happens again.

[2015-09-25 16:48] #717 closed

[2015-09-25 17:07] sweetpi commented on #158
pilight is not supported anymore.

[2015-09-25 17:07] #158 closed

[2015-09-25 17:08] #293 closed

[2015-09-25 17:08] #383 closed

[2015-09-28 20:10] Oitzu opened #718 "[Forum] Can't login with github."
Forum software responds with following:
[code]

[2015-09-28 20:18] leader21 commented on #718
guess that issue results from the latest updated of nodebb to v0.8.2

[2015-09-29 08:56] Oitzu commented on #718
https://community.nodebb.org/topic/6467/google-facebook-and-twitter-sso-gone/12
Maybe the last "tip" solves the problem?

[2015-09-29 10:33] Oitzu commented on #718
Works again. :+1:

[2015-09-29 10:33] #718 closed

[2015-10-01 09:43] mwittig opened #719 "[pimatic] Strategy for migration to node v4.x"
According to [LTS](https://github.com/nodejs/LTS/ node), v0.10 is in maintenance mode and support will end by 1st of October 2016. Therefore, we need a strategy and plan for the migration to a newer version of nodejs, perferably node version 4.x.

See also [API changes between v0.10 and v4](https://github.com/nodejs/node/wiki/API-changes-between-v0.10-and-v4). However, beyond the documented API ch

[2015-10-01 12:30] sweetpi commented on #719
:+1:

I think we will have the most trouble with native modules used by plugins:

 * pimatic-homeduino and other use node-serialport: not yet ready, but there is a pull request: https://github.com/voodootikigod/node-serialport/pull/566
 * pimatic-gpio uses onoff: seems to be ready: https://github.com/fivdi/onoff#installation
 * pimatic-ble uses noble: ?
 * pimatic-dht-sensors uses node-dht-sensor:

[2015-10-02 09:58] mwittig commented on #719
Thanks for your swift reply! I agree, the modules using native code will be troublesome and it is good to see some progress has already been made on some important base modules like node-serial, on-off. To get myself started I thought about using Vagrant to setup some base image(s) for testing. This way, it would be possible to trial different setups, easily. As part of this I'll also have a look

[2015-10-02 12:11] mwittig commented on #710
@sweetpi Sorry for the delay in reply. Great! Your patch works as expected

[2015-10-02 17:14] fivdi commented on #719
Yes, onoff is ready so there will be no problems there.

Not sure if it's relevant, but pimatic-lcd is missing in the list above. It depends on i2c-lcd which in turn depends on native module i2c. i2c doesn't support Node.js 4. Of course, you could always switch over to i2c-bus which does support Node.js 4 :)

[2015-10-02 17:32] sweetpi commented on #719
@fivdi i2c-bus sound create. I will do some test with it. I'm currently don't use the lcd anymore, because it sometimes gets "out of sync" and only displays garbage. Maybe switching to i2c-bus does help here, too.

[2015-10-03 12:47] sweetpi commented on #710
Nice, published it.

[2015-10-03 12:47] #710 closed

[2015-10-03 13:08] mwittig commented on #719
@sweetpi @fivdi As we recently had a request to support [multiple LCD displays](http://forum.pimatic.org/topic/688/multiple-lcds-and-special-characters) and I would like to integrate support for monochrome OLED displays I am considering the development of new new plugin which can support both display types. For OLED I am planning to look into [oled-js-bpi](https://github.com/4ib3r/oled-js-pi). Wha

[2015-10-03 16:47] fivdi commented on #719
@sweetpi I've only ever used HD44780 LCDs with a parallel interface and when garbage was displayed it was usually a timing issue, the software wasn't waiting long enough for the display to complete its work,

@mwittig i2c-bus plays well with multiple devices on the bus so multiple LCD displays shouldn't be a problem, provided that the software driving the LCD actually uses i2c-bus. I haven't use O

[2015-10-04 19:00] jensebub opened #720 "error [pimatic]: Could not find action "getGuiSetttings"."
after update to pimatic 0.8.86 following error appeares
```error [pimatic]: Could not find action "getGuiSetttings".```

regards
jensebub

[2015-10-04 19:04] sweetpi commented on #720
Thanks for reporting. Did you update the mobile-frontend as well?

Maybe needs a refresh on all devices, then the error should be gone.

[2015-10-04 19:38] Heizelmann opened #721 "Sending same value again via API did not work as expected"
I want to send periodically sensor data to pimatic via api. In principle such a request looks like

curl -X PATCH \
       --header "Content-Type:application/json"  \
       --dat '{"type": "value", "valueOrExpression": 12}' \
       --user "user:password" \
       http://localhost/api/variables/temperature02

In pimatic GUI I watch the variable in graph view. As long as the value changes the grap

[2015-10-04 20:10] jensebub commented on #720
I've forgotten my smartphone.
After relogon everything is fine.
Thx

Regals
jensebub

[2015-10-04 20:11] #720 closed

[2015-10-05 13:13] mwittig commented on #719
@sweetpi I have tried to setup pimatic as is on node4.1 and ran into the following problem:

[code]

I have managed to work-around the issue by removing and re-installing pimatic's deps as follows:
[code]

After this, I can start-up pimatic without errors. Does the pimatic package contain pre-built packages and if yes, is it possible to override that?

[2015-10-05 13:32] mwittig commented on #719
@sweetpi Regarding nsutil, this package has been ported to nan, meanwhile. So, may be it is enough to rebase your fork with the current nsinfo master.

[2015-10-05 17:15] sweetpi commented on #719
Yes dependencies get be bundled into the package: https://github.com/pimatic/pimatic/blob/master/package.json#L66

I will update all dependency and publish a new version.

[2015-10-05 18:28] mwittig commented on #719
Ah, ok. Thanks!

[2015-10-06 06:30] sweetpi commented on #721
The problem is, that currently a variable only emits an update event, if it changed. However I will change this in the future.

[2015-10-06 07:37] Heizelmann commented on #721
Thanks a lot. Meanwhile I will try a workaround. May be it will we better to keep this event (renamed as changed event) and add an additional one to distinguish between changed and update variables.

[2015-10-06 08:30] coccyx00 opened #722 "[pimatic-mobile-frontend] heating thermostat buttons trigger action on touch move"
The buttons (minus & plus) for selecting the setpoint in the heating thermostat template trigger an action even if the touch point or mouse is moved out of the button.
On android smartphone with Chrome and Standard brwoser.
On PC with Opera the autoRepeat will trigger also.

[2015-10-06 19:48] mwittig opened #723 "cyclic rules - bug or feature?"
I am wondering about the expected behavior of "cyclic rules" where the rule action performs a state change  which causes condition to evaluate to true. I have the folling device and rule.

[code]

I would expect turning the switch will cause the rule to toggle the switch forever.  However, the switch is only toggled once. Is this a bug or feature? By the way, if I add "after 1 second" to the rule

[2015-10-07 07:19] sweetpi commented on #723
Its actually a feature. Rules are limited to be triggered one time all 500ms.(https://github.com/pimatic/pimatic/blob/81a01833287a41bd6f7f1c36bb42899bb7f9a91b/lib/rules.coffee#L882-L888) This prevents the rule from being triggering again.

[2015-10-07 08:00] mwittig commented on #723
Thanks, This makes sense to me. I think this should be documented as part of http://pimatic.org/guide/usage/rules

Btw, is the website under version as well? This I could make suggested documentation changes via PRs.

[2015-10-07 08:48] sweetpi commented on #723
Yes, pull requests are welcome: https://github.com/pimatic/pimatic-guide

[2015-10-07 09:02] mwittig commented on #723
Great! Which tool and templates do you use?
I am just asking as I notice some glitches like sub-headers ## and ### are not tranlated to html headings. I guess, the problem simply is there is no space after the ## and ### markers, e.g.

###Built in  ==> will not be transformed properly
### Buli in ==> transformed to a heading

[2015-10-07 10:33] sweetpi commented on #723
I'm using http://docpad.org/ with https://github.com/docpad/docpad-plugin-marked/

[2015-10-09 11:03] georg90 opened #724 "[pimatic-ping] multiple IP per Hostname doesn't work"
Hello,
like @mwittig proposed here: http://forum.pimatic.org/topic/261/implemented-pimatic-ping-with-dns/6
I have the same issue, where my laptop has two IP entries for one DNS record:
[code]

Like @sweetpi said only the first IP entry is processed. But since I use pimatic to "wake" my docking station when my laptop becomes available, the first IP address will always be the wifi interface and the

[2015-10-09 11:47] sweetpi commented on #724
We would need to change the ping plugin. Currently it uses [dns.lookup](https://github.com/pimatic/pimatic-ping/blob/master/ping.coffee#L54), which only returns the first ip record.

We would need to use [dns.resolve4](https://nodejs.org/api/dns.html#dns_dns_resolve4_hostname_callback) which returns all addresses and then try to ping all of them.

[2015-10-09 11:59] georg90 commented on #724
Doesn't it say ```'A' (IPV4 addresses, default)``` in the docs? Where addresses are plural ?

[2015-10-09 12:03] mwittig commented on #724
No. dns.lookup only return the first address - see first sentence at https://nodejs.org/api/dns.html#dns_dns_lookup_hostname_options_callback

So, we need to use dns.resolve4 instead as @sweetpi pointed out

[2015-10-09 20:22] quantenschaum opened #725 "escaping curly braces in execute command"
I just updated pimatic (where do I find the version of pimatic itself in the web UI?) to shell-execute 0.8.11 and this broke previously working rules using the execute command.

The rule

    if $brightness.dimlevel changes
    then execute "curl -s -X PUT http://hue/api/developer1/lights/2/state -d '\{ \"bri\": $d \}' "

had to be changed to

    if $brightness.dimlevel changes
    then execute "

[2015-10-10 12:29] sweetpi commented on #725
Thanks for reporting. It's a bug, should be fixed in pimatic v0.8.87.

[2015-10-10 12:30] #725 closed

[2015-10-12 18:46] edautz opened #726 "Api Errors on Open-weather 0.8.16 plugin"
After upgrading Open-weather from 0.8.15 to 0.8.16

error [pimatic-openweather]: Unable to parse response: Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.

[2015-10-12 19:11] mwittig commented on #726
See [README](https://github.com/josecastroleon/pimatic-openweather/blob/master/README.md)

[2015-10-12 19:12] leader21 commented on #726
You will now have to get your own api key from openweathermap.org and insert this into your openweather device
"apiKey": "xxxxxxxxxx",

[2015-10-12 20:09] #723 closed

[2015-10-12 20:10] sweetpi commented on #698
@mwittig What is it?

[2015-10-12 20:56] edautz commented on #726
After obtaing the key and updating the openweater plugin and changing the country parameter. It works. Thanks for the swift support.

[2015-10-12 20:56] #726 closed

[2015-10-13 11:42] MaxWinterstein commented on #69
i had the same problem, but with a slightly other setup:

iPhone 6 with iOS 8.1 -> HAProxy with valid ssl -> pimatic without ssl (local.net - who cares)

i had the same problem with the not trusted thing. After some search i found that `no-tlsv10` is the problem. Seems like the webview thing is using an old TLS version. I use an dedicated port for pimatic, so this is something i can live with.

To

[2015-10-13 12:29] mwittig commented on #698
@sweetpi I think this has been fixed already. See fixture https://github.com/josecastroleon/pimatic-openweather/issues/18

@sweebee Please complain if the issue still occurs

[2015-10-13 13:42] #698 closed

[2015-10-13 14:26] sweebee commented on #698
Updated to the latest version. The plug-in is doing nothing anymore.

error [pimatic-openweather]: Unable to parse response: Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.

[2015-10-13 15:19] mwittig commented on #698
@sweebee Please see [README](https://github.com/josecastroleon/pimatic-openweather/blob/master/README.md). You need to setup an apikey. See also https://github.com/josecastroleon/pimatic-openweather/issues/9 for background.

[2015-10-13 18:01] quantenschaum commented on #725
Yupp, working again. Thanks.

[2015-10-13 19:15] mwittig commented on #725
@sweetpi Seems like the escaping for /n was broken too. One of my rules failed at least. I had to change \n to \\n in the configuration text.

[2015-10-13 19:19] mwittig commented on #462
Actually, this has changed with pimatic v0.8.87 and rules parsing may bail out with an syntax. The backslash need to be escaped now in the configuration file!

[2015-10-14 06:58] sweetpi commented on #725
There was a bug in the json parse (at config loading), that parsed `{"rule": "foo \\n  bar"}` (escaped backslash followed by n) to `{"rule": "foo \n  bar"}` (newline char), which leaded to a `\n` newline character in the saved config file, after a pimatic restart. If you want to use a new line in a rule, you have to enter `\n`, which should be json serialized to `\\n`. So `\\n` in the json file is

[2015-10-15 15:10] sweetpi commented on #721
Should now work. @Heizelmann Can you confirm this with pimatic v0.8.88?

[2015-10-16 07:50] Heizelmann commented on #721
@sweetpi: Thanks a lot!

A quick test showed that a variable is stored as data point via API even though when the value keeps the same.
The rule predicate 'changes' still works as expected. The rule fires only if value changes.
Question is, how to fire a rule on update a variable without value change?  Does it require a new predicate? See my last post.

Pimatic is great!

[2015-10-16 08:36] sweetpi commented on #721
Great! You can use the `$var gets updated` instead of `$var changes` predicate.

[2015-10-16 11:54] sweetpi commented on #709
Please reopen, if it happens again

[2015-10-16 11:54] #709 closed

[2015-10-16 11:59] sweetpi commented on #671
Should be fixed with the latest releases

[2015-10-16 11:59] #671 closed

[2015-10-16 12:00] sweetpi commented on #664
Closes because no response.

[2015-10-16 12:00] #664 closed

[2015-10-16 12:01] sweetpi commented on #654
No replay so closing.

[2015-10-16 12:01] #654 closed

[2015-10-16 12:01] #511 closed

[2015-10-16 12:02] sweetpi commented on #419
No respinse , closing

[2015-10-16 14:47] WimUtTwente commented on #671
Yes

[2015-10-16 20:18] leader21 opened #727 "Cannot connect to GUI after update to Pimatic 0.8.88"
Having an issue and wondering if anybody else can confirm?
After updating to Pimatic 0.8.88 I cannot access the webfrontend anymore.
Pimatic is starting and showing no errors but in the browser it says cannot connect.
When trying to shutdown the Pimatic daemon the following happens :

![](http://www.youscreen.de/jlxrtgno57.jpg)

after that the pi is totally crashed.
pimatic is allocating the compl

[2015-10-16 20:30] sweebee commented on #727
I have something similar. Front end takes very long to load and can't restart pimatic without removing the power.

![](http://i.imgur.com/uNLmnu9.jpg)

[2015-10-16 21:28] leader21 commented on #727
installed pimatic from scratch and had no problems to access the web frontend.
but after i added my config and installed the plugins the error occurs again.

[2015-10-16 21:33] sweebee commented on #727
Right now it takes round 3 min to connect. When I pull a switch it takes around 15 seconds to turn the light on. I use pirs to put on lights and normally its going on within a second but now around 5 seconds.

[2015-10-16 22:00] sweebee commented on #727
Switched back to 0.8.87 and everything works fine.

[2015-10-17 04:11] sweetpi commented on #727
Hm, I've reverted the changes from 0.8.88 in 0.8.89. @sweebee, @leader21 Do you have a variable device which attributes you use in other expressions?

[2015-10-17 08:25] sweebee commented on #727
This is my config at home:

[code]

At work:

[code]

[2015-10-17 17:45] thorstenreichelt commented on #727
The update to 0.8.88 had no issues for me with my config ;)

[2015-10-17 18:33] leader21 commented on #727
not that i am aware of. all variables used in variables devices are unique.
@sweetpi do you want to check my config?

[2015-10-18 09:57] sweetpi commented on #727
@sweebee thanks for your config. I was able to track down the problem and it should now work as expected in pimatic v0.8.90.

[2015-10-18 09:57] #727 closed

[2015-10-18 16:13] mwittig commented on #727
@sweetpi I am just wondering from which branch you have publish **pimatic-mobile-frontend**?! The laster version on master 0.8.67 and last commit is from Sept, 23rd. May be you didn't push your recent commits.

[2015-10-18 18:17] sweetpi commented on #727
@mwittig You are right. I did forget to push the changes. The repo is now up to date :)

[2015-10-19 19:18] mwittig commented on #678
Linked to https://github.com/pimatic/pimatic/issues/557

[2015-10-19 19:18] mwittig commented on #677
Linked to https://github.com/pimatic/pimatic/issues/557

[2015-10-20 13:11] kregory opened #728 "bug with DummyHeatingThermostat temperatureSetpoint and rule comparison"
I have a rule that turn a device on when the temperature is lower then DummyHeatingThermostat.temperatureSetpoint
If the temperatureSetpoint is set to something below 10 and the temperature is above 10 the rule is true instead of beeing false.

if dht22.temperature = 18 and tempsalonsettings.temperatureSetpoint = 9 the next test is true
"$dht22.temperature" < "$tempsalonsettings.temperatureSetpoin

[2015-10-20 14:12] sweetpi commented on #728
Could you post your comlete rule?

[2015-10-20 14:15] kregory commented on #728
if Fenetre Salon is closed and \"$dht22.temperature\" < \"$tempsalonsettings.temperatureSetpoint\" then turn chauffageSalon on

[2015-10-20 15:24] sweetpi commented on #728
Try to remove the quotes.

[2015-10-20 16:34] kregory commented on #728
removing the quotes solve this issue, thank you

[2015-10-21 19:57] sweetpi commented on #728
I've added some checks. An error is now thrown, if string get compared with "<", "<=",...

[2015-10-21 19:57] #728 closed

[2015-10-22 18:46] Ruba5913 opened #729 "Updated pimatic to the latest. before evereything was working fine but now I get this error"
error [pimatic]: Error in VariablePredicateHandler: Can not compare strings with <=!
20:40:59debug [pimatic]: Error: Can not compare strings with <=! at VariablePredicateHandler._compareValues (/home/pi/pimatic-app/node_modules/pimatic/lib/predicates.coffee:643:23) at /home/pi/pimatic-app/node_modules/pimatic/lib/predicates.coffee:628:25 at tryCatcher (/home/pi/pimatic-app/node_modules/pimatic/nod

[2015-10-22 20:10] sweetpi commented on #729
Do you have a rules, where you compare two variables with "<=" ?

[2015-10-22 20:38] Ruba5913 commented on #729
Yes I have 2 rules with "<=" but they are not putted on yet, because the hardware isn't ready yet.
Before I wrote this bug here, I changed "<=" to "is less or equal than" but that didn't solve this issue.
I deleted the 2 rules completely and now the problem is solved.
Before the latest update of pimatic I didn't have any problem with these rules !!
So pimatic is now working as before.
Thanks.

[2015-10-22 20:45] sweetpi commented on #729
The variables you comparing in the rules are of type string and you can't compare string with "<=". Before the update pimatic did silently compare the strings (with a undefined result)...now it throws the error. Make sure that the variables are numbers and you should not get the error again.

[2015-10-22 20:45] #729 closed

[2015-10-23 03:35] capitalfuse commented on #719
upgraded node v4.2.1, and success install and working dht-sensors plugin modified master code(see git pimatic-dht-sensors forked by "capitalfuse" ), but pin No. should be changed from No. of wiringPi to GPIO No. directly. Next, I tried to install sysinfo plugin, but for the following errors, I couldn't;

gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack

[2015-10-23 07:06] p4co86 opened #730 "[pimatic-location] iphone-finder: SyntaxError: Unexpected end of input at Object.parse (native)"
hey, i get the following error since i have installed the pimatic-location plugin in combination with iphone.

[code]

[2015-10-23 08:47] sweetpi commented on #730
Looks like a incomplete request. Does it happen periodically? Maybe @Oitzu has an idea.

[2015-10-23 08:56] Oitzu commented on #730
@p4co86 Hard to say, but guessing on the code, the cause could be a bad login.
The module doesn't handle that correctly.

[2015-10-23 09:23] p4co86 commented on #730
this is what i get now:

[code]

[2015-10-24 03:30] capitalfuse commented on #719
thanks to @sweetpi showing some hints for this build error issue.
I changed nsutil fork to x6doooo's one modified for "nan". but below errors;
pi@raspberrypi ~/pimatic-dev $ npm install https://github.com/capitalfuse/pimatic-sysinfo.git#development
-

make: Entering directory '/home/pi/pimatic-dev/node_modules/pimatic-sysinfo/node_modules/nsutil/build'
  CXX(target) Release/obj.target/nsutil_linux

[2015-10-24 06:14] Yves911 commented on #730
@p4co86 on my side i still use the module and everything is working smoothly...

[2015-10-24 09:13] sweetpi commented on #719
I think nsutil has to be ported to NAN 2.0.

[2015-10-24 12:51] sweebee opened #731 "[Bug] pimatic doesn't keep me logged in."
I use the mobile frontend as web app on my iPhone. But since a while ago it doesn't log in automatically anymore. (almost) everytime i have to enter the username and password.

[2015-10-24 18:17] thost96 commented on #165
@p4co86 I have created a plugin for pimatic called pimatic-wakeonlan. Here you can find more: forum.pimatic.org/topic/990/pimatic-plugin-for-wakeonlan

[2015-10-25 09:07] Yves911 commented on #731
are you using pimatic SSL server? Did you import certificate into the IOS?
I don't have issue with mine.
Also if you have pin pimatic to desktop, maybe you can delete it and recreate.

[2015-10-25 09:30] sweebee commented on #731
I re imported the certificate. Let's see if it works now.

[2015-10-25 09:50] sweebee commented on #731
Also re added The pinned app. But still doesn't work.

iOS also won't remember the username and password. So everytime I have to enter them again.

[2015-10-25 10:01] sweebee commented on #731
Okay. I found the problem. I have 2 pimatics running. Both in the same network. One is at home and the other one in an other building with a direct fiber connection. At home is running at 443 and the other one and 444. When I open pimatic at home and log in, close the app and open it again it works fine. But once I open the other pimatic and login I have to login again at pimatic home. And the oth

[2015-10-25 17:38] p4co86 commented on #165
Thanks for that,but i geht the same error message Mike in the post in thr forum

[2015-10-26 03:01] capitalfuse commented on #719
Appreciate for your hints. Success to port to Nan 2.0 using the reference from npm "upgrade-utils". In ~/pimatic-app,  $ npm install https://github.com/capitalfuse/pimatic-sysinfo.git#development

[2015-10-26 17:34] sweetpi commented on #731
hm strage. The instances are running on different machines, right? Do you access them via the same domain / hostname?

[2015-10-26 17:38] sweebee commented on #731
Yes on different machines and I use the same hostname.

[2015-10-26 17:46] sweetpi commented on #731
Strange that different ports don't get handled as different realms => different cookies. Try to use either different hostnames or same login (user + pw) and same secret in config.

[2015-10-26 17:54] netamego opened #733 "Installation Warning - npm WARN `git config --get remote.origin.url` returned wrong result (https://github.com/sweetpi/jsonlint.git)"
After

npm install pimatic --prefix pimatic-app --production

First line is a warning

npm WARN `git config --get remote.origin.url` returned wrong result (https://github.com/sweetpi/jsonlint.git)

[2015-10-26 18:48] #733 closed

[2015-10-27 21:38] michbeck100 commented on #229
Just my 5 cents: once we have a working HomeKit bridge one can use any supported iOS app out there in the App Store to control all devices. So I think we don't need a dedicated iOS app for pimatic.

[2015-10-27 22:47] edautz opened #734 "[Pimatic] Variable timing problem"
When using a variable with a duration in a rule.
For instance:

If $alarm-melding = 1 for 2 minutes then <perform action>

doesn't result in the action when the conditions are met.

[2015-10-28 09:23] sweetpi commented on #734
How do you set the variable to 1?

[2015-10-28 14:07] edautz commented on #734
I use a rule to set the variable

If PIR Sensor  is present and Alarmstatus is turned on for 5 minutes then $alarm-melding = 1

[2015-10-29 06:04] edautz commented on #734
Tested again, but now it works. I think i got another problem.

[2015-10-29 06:04] #734 closed

[2015-10-29 15:08] yeya commented on #223
Hi there
I want to ask a question about the pimatic-shell-execute plugin, i see no issues link there.
Where is the right place to ask?

[2015-10-29 17:30] incmve commented on #223
Try http://forum.pimatic.org/

[2015-10-31 10:36] edautz opened #735 "[pimatic-shell-execute] ShellSwitch persistent state"
is it possible to add an option  the shell switch to remember the state after startup?

[2015-10-31 19:09] poeml opened #736 "Comparing devices attributes with variables doesn't work as one might expect"
Comparing device attributes with a variable doesn't work:

    19:35:28.359 [pimatic] error: Could not parse rule "if Küchenfenster is closed and temperature of Temp1 is greater than $tcutoff then switch Ablufthaube off": Could not find an provider that decides next predicate of "temperature of Temp1 is greater than $tcutoff"., Expected a new predicate after last "and".

Changing the rule to a "va

[2015-11-02 08:28] #735 closed

[2015-11-02 10:45] andig opened #737 "[pimatic][devices] CometDECT thermostat implementation: technical questions"
I'm in implementation and have a couple of questions. The Thermostat has support for `HeatingThermostat` as well as `TemperatureSensor` functionality. I intend to subclass `HeatingThermostat` as its more complex:
- how should I implement both in one class or split into two classes/ devices?
- `TemperatureSensor` does not have internal _temperature variable and _setTemparature getTemperature unlike

[2015-11-02 17:03] andig opened #740 "[pimatic-mobile-frontend] How to debug gui items"
Duing my implementation I'm confronted with loads of stack traces like

	16:44:56.001 [pimatic-mobile-frontend] Client error: this.getAttribute(...) is null
	16:44:56.039 [pimatic-mobile-frontend] {
	16:44:56.039 [pimatic-mobile-frontend]   "mode": "stack",
	16:44:56.039 [pimatic-mobile-frontend]   "name": "TypeError",
	16:44:56.039 [pimatic-mobile-frontend]   "message": "this.getAttribute(...) is

[2015-11-02 17:45] sweetpi commented on #740
Do the following:

1. Set the `mode` option of the mobile-frontend to `"development"` (https://github.com/pimatic/pimatic-mobile-frontend/blob/master/mobile-frontend-config-schema.coffee#L14)
2. Clear all browser caches and delete all app settings. Best is to use an incognito tab for testing.

 =>You should get better stack traces.

In `"production"` mode the minified files are used and the coffee

[2015-11-03 14:59] sweetpi commented on #737
If it does make things not to complicated, I would split that in two device classes. I think it makes the gui more flexible and clear. Config is a little bit more work, but shouldn't be a problem if it is documented.

You are right this is inconsistent. A PR is welcome to add the missing default functions and variable.

I am for keeping one complex (configurable version). If a feature is not neede

[2015-11-03 17:47] andig commented on #737
I thought so and its utterly simple but the user would need to give 2 names then which I find confusing. I'll try with one but its easy enough to change.

Hah! Will do ;)

Right, but then I need some help:

  a. HeatingThermostat must e.g. make display of the valve position configurable
  b. The config options of unavailable controls should not be part of the userconfiguratble settings- where woul

[2015-11-04 06:54] andig commented on #740
Perfect & wfm. Do you want to leave this open as "documentation"?

[2015-11-04 17:26] p4co86 commented on #730
I still get the error. Any ideas?

error [pimatic]: A uncaught exception occured: SyntaxError: Unexpected end of input at Object.parse (native) at /root/pimatic-app/node_modules/pimatic-location/node_modules/iphone-finder/lib/iphone-finder.js:26:31 at IncomingMessage.<anonymous> (/root/pimatic-app/node_modules/pimatic-location/node_modules/iphone-finder/lib/iphone-finder.js:42:48) at IncomingMessa

[2015-11-05 06:44] sweetpi commented on #737
Redefine the attributes with just the one you need. Then we extend the thermostat item (gui) to respect this.

Why not? You can show attributes of different devices the same time.

No worries about spamming. I wouldn't do that. Just make it clear in the readme that both devices are needed / can be defined. If you dislike the two devices approach, I would also be happy to extend the thermostat devi

[2015-11-05 06:48] sweetpi commented on #740
I added it to the Q&A.

[2015-11-05 06:48] #740 closed

[2015-11-05 06:49] sweetpi commented on #730
I can't do very much about it, because I don't own a ios device.

[2015-11-05 15:02] p4co86 commented on #730
ok, sometimes i get this error for a few hours, then there are gone.

[code]
i have no api set in the config.

[2015-11-05 15:03] sgoetze commented on #431
On 26 Dec 2014 @sweetpi commented that v. 0.8.1 would read the logfile at pimatic startup to get valid attribute values from the beginning. Now for me v. 0.8.5. does not do this. On pimatic startup all attributes of logwatcher have zero values. After some minutes the right values appear. But the zero values are written to the database and are shown in the graphs as glitches. For big gas consumtion

[2015-11-05 15:14] Oitzu commented on #730
The gmaps-api is used to calculate distances. You are probably exceeding the maximum calls to the api and need to use an api-key or an lower update-interval.

[2015-11-05 15:15] p4co86 commented on #730
ah ok. thanks for that where can i set the interval on iphone?

[2015-11-05 15:18] sweetpi commented on #431
@sgoetze Could you open a new issue and post your config and log format?

[2015-11-05 19:43] sgoetze opened #743 "Logwatcher attributes have zero values for some minutes after pimatic startup"
I use log reader plugin to get sensor data from different sources (a RPi with some sensors, an ESP8266 with DS18B20) with nc. Received data are written to /tmp/netcat.log with "nc -d -k -l 8888 >>/tmp/netcat.log. A cron job stops nc once after midnight, cuts 15 lines from /tmp/netcat.log with the tail-command and creates a new /tmp/netcat.log with these lines. Then nc is started again.

There are

[2015-11-06 06:46] michbeck100 commented on #229
Now the time has come: https://github.com/michbeck100/pimatic-hap

Not all pimatic device types are supported yet, but there are more to come.

[2015-11-06 07:58] #743 closed

[2015-11-06 07:59] sweetpi commented on #743
I've published pimatic-log-reader v0.8.7 which should fix the issue. Please reopen if the problem still exists.

[2015-11-06 15:53] andig commented on #737
Got it working now. Only change needed is to make `mode` access optional. Will submit PR.

I have both now. A thermostat device that has a temp attribute but not exposed in the gui plus a sensor if GUI is needed.

If you want a temp attribute at the thermostat let me know, maybe after user testing.

[2015-11-06 19:11] sgoetze commented on #743
It works.

Thank you very much :-)

[2015-11-07 10:33] georg90 commented on #724
@mwittig Did you have some time to come up with a solution?

[2015-11-07 11:46] mwittig commented on #724
@georg90 OK, I'll look into this

[2015-11-07 12:03] georg90 commented on #724
No hurry ! And many thanks in advance.

[2015-11-07 15:50] sweebee commented on #731
Tried different hostnames and it works fine.

[2015-11-07 15:50] #731 closed

[2015-11-07 22:10] kjdijkema commented on #679
I have the same error! I just installed pimatic on a Rpi2 following the steps on pimatic.org. My npm version is 0.10.24, my Linux is Raspbian Jessie.

[2015-11-08 09:56] sweetpi commented on #679
@kjdijkema What's your node version (`node --version`)?

[2015-11-08 11:27] kjdijkema commented on #679
v0.10.24

[2015-11-08 15:37] mwittig commented on #679
@kjdijkema You're not alone :) The problem occurs with a fresh installation of pimatic-ping. The problem is that the indirect dependency "raw-socket" no longer builds on node 0.10. @sweetpi I'll come up with suggested fix shortly.

[2015-11-09 12:50] edautz opened #744 "[pimatic-mysensors] Manual Mysensors plugin install fails"
I have some issues with  the lastest Mysensors plugin (0.8.22)

After removing this plugin with npm

I try to revert to the earlier 0.8.21 version,

sudo npm install pimatic-mysensors@0.8.21.

But it fails.

[code]

[2015-11-09 17:12] sweetpi commented on #744
What does `/usr/local/pimatic-app/npm-debug.log` say?

[2015-11-09 17:25] edautz commented on #744
There are 2129 lines of out of npm-debug.log

These are the last lines:

2110 info preuninstall serialport@1.7.4
2111 info uninstall serialport@1.7.4
2112 verbose false,/usr/local/pimatic-app/node_modules,/usr/local/pimatic-app/node_modules/pimatic-mysensors/node_modules unbuild serialport@1.7.4
2113 verbose /usr/local/pimatic-app/node_modules/pimatic-mysensors/node_modules/.bin,[object Object] bi

[2015-11-09 17:27] sweetpi commented on #744
Could you upload the whole file or use pastebin (http://pastebin.com/)?

[2015-11-09 17:30] sweetpi commented on #736
Variables are currently not supported in the syntax above. I will tag this as enhancement.

[2015-11-09 17:31] #415 closed

[2015-11-09 17:31] #409 closed

[2015-11-09 17:32] sweetpi commented on #402
I think this should be fixed in the new version.

[2015-11-09 17:32] #402 closed

[2015-11-09 17:32] #281 closed

[2015-11-09 17:42] mwittig commented on #724
@georg90 the feature has been released

[2015-11-09 17:43] sweetpi opened #745 "Breaking Changes in pimatic v0.9"
Upcoming breaking changes in pimatic v.0.9. Mainly posted here for discussion.

### Node.js

 * Only supports Node.js v4 and newer https://github.com/pimatic/pimatic/issues/719

### Rule System

 * ECA rules: The rule syntax changes from `if conditions then actions` to `when events and if condition then actions`, where the `and if condition` part is optional. https://github.com/pimatic/pimatic/iss

[2015-11-09 17:44] sweetpi commented on #745
I would like to keep the IF ... THEN ... syntax. I like IF more then WHEN. But how to distinglish then between events (trigger) and conditions (additional checks before executing the actions)?

[2015-11-09 17:53] mwittig commented on #745
Sounds great! Looking forward to this.

Well, there is one thing which may cause a headache for some users. As you presumably won't support pimatic 0.8.x after 0.9 GA, I am a little bit concerned about the new rule system. Some users seem to have *loads* of rules. There should be a smooth transition pass for them.

Personally, I haven't spent much thought on ECA rules yet as I am not a big fan of

[2015-11-09 18:16] edautz commented on #744
I renamed the npm-debug.log file to npm-debug.jpg. Otherwise I have not the permissions to upload a text file.

Hope you can rename and read it.

![npm-debug](https://cloud.githubusercontent.com/assets/11003867/11042219/3382348c-8716-11e5-9332-e21b80301cf6.jpg)

[2015-11-09 18:21] sweetpi commented on #745
The transition should be very smooth, because just the syntax has to be changed:

We will still allow conditions in the WHEN event part. We have currently to forms of predicates: `event` and `state`. Event predicates emit an event, when the event occurs and state predicates emit an event, when the state changes. So both can be used in the WHEN event part. Currently `state` predicates do trigger ru

[2015-11-09 19:02] mwittig commented on #745
Thanks, for the clarification. I wasn't aware of the fact that state conditions are allowed in the WHEN part.

[2015-11-09 20:26] sweetpi commented on #341
Just for a reference, here is pimatic-hap: https://github.com/michbeck100/pimatic-hap

[2015-11-09 20:30] georg90 commented on #724
Thank you @mwittig it seems to work just fine!
Great work & thanks again for taking care.

[2015-11-09 20:30] #724 closed

[2015-11-10 00:39] mwittig commented on #724
Thanks. Unfortunately it contains a bug as IP resolve4 pass-through IP addresses as dns.lookup does. Anothe PR is on the way.

[2015-11-10 06:17] rutgerh commented on #341
Wow, it is working great! Nice job.

Cheers,

Rutger

[2015-11-10 06:33] sweetpi commented on #341
Thanks go's to @michbeck100 for creating it.

[2015-11-10 07:30] michbeck100 commented on #341
I guess we can close this issue now?

[2015-11-10 10:19] #341 closed

[2015-11-10 11:40] mwittig commented on #724
@georg90 @sweetpi Due to the switching from `dns.lookup` to `dns.resolve`, the plugin currently can only resolve hostnames to IPv4 addresses. My understanding is, that `dns.lookup` resolves a hostname (e.g. 'google.com') into the first found A (IPv4) or AAAA (IPv6) record if the `family` property is undefined (or no options have been passed in). In contrast to this `dns.resolve` only supports eith

[2015-11-10 12:54] georg90 commented on #724
I would not complicate things for the user with adding a new property.
As you proposed in option 1 - you could simply try v6 first. Will this generate a lot new traffic or slow down (timeout?) the ping at all?

[2015-11-10 14:53] mwittig commented on #724
@georg90 Thanks for your feedback.

The traffic overhead is very low as DNS is a lightweight protocol. A slow down may occur if the DNS server is unreachable for some reason. As the plugin code is asynchronous it won't block and we have take measure against resource exhaustion.

I have researched this is a little bit further. The cascaded operation I had in mind with option 1) won't work in all ca

[2015-11-11 12:31] georg90 commented on #724
@mwittig great work :)

[2015-11-12 15:24] iMarvinS opened #746 "Name of trigger device"
Is there a way to get the name of the device which triggered the rule?
I try to do the following:

IF alarm is turned on and contact-garage or is opened or contact-cabin is opened THEN execute " wget curl -X POST https://maker.ifttt.com/trigger/alarmTriggered/with/key/1337?value1=$TRIGGER_DEVICE"

I´d like $TRIGGER_DEVICE (or whatever you call it) to be the plain string name of the device.

Is the

[2015-11-12 15:57] mwittig commented on #746
What do you mean exactly by trigger? As far as I can see your example has three triggers?!

[2015-11-12 16:13] iMarvinS commented on #746
Maybe my choice of words was not ideal. I want to have some kind of secret variable for example called "$TRIGGER_DEVICE " which conatins the name of the device which initially triggered the rule.
You can see that my rule contains an or-statement.
I exactly want to know the device of this statement that triggered the rule.
I want to have this kind of variable to build a burglar alarm which consists

[2015-11-12 18:35] leader21 commented on #746
maybe do it with a workaround by creating further rules?
`IF alarm is turned on and contact-garage is opened THEN set $TRIGGER_DEVICE = "Garage"`
and
`IF alarm is turned on and contact-cabin is opened THEN set $TRIGGER_DEVICE = "Cabin"`

[2015-11-12 20:23] edautz commented on #744
Dear SweetPi,

Does it help you when you recieve the logfile as an attachement on this mail?

Kind regards,

Edautz

From: sweet pi - sweet home
Sent: Monday, November 09, 2015 6:27 PM
To: pimatic/pimatic
Cc: edautz
Subject: Re: [pimatic] [Pimatic] Manual Mysensors plugin install fails (#744)

Could you upload the whole file or use pastebin (http://pastebin.com/)?

—
Reply to this email directly o

[2015-11-13 15:21] sweetpi commented on #744
I've received the log file, but can't spot the problem. You could try to install it again

[code]

[2015-11-13 15:23] sweetpi commented on #746
Currently predicates do not set variables you can use in the then part. However the system is build to support this in the future.

Currently you nee multiple rules, for example like @leader21 suggested.

[2015-11-13 23:07] edautz commented on #744
I tried again, without success:

This is the complete errorlog. I got on the screen. Hopefully you can spot the problem now.

pi@raspberrypi-beneden /usr/local/pimatic-app $ sudo npm install pimatic-mysensors@0.8.21
npm http GET https://registry.npmjs.org/pimatic-mysensors/0.8.21
npm http 304 https://registry.npmjs.org/pimatic-mysensors/0.8.21
npm http GET https://registry.npmjs.org/bluebird
npm h

[2015-11-14 07:38] sweetpi commented on #744
see: https://github.com/voodootikigod/node-serialport/issues/535
Try:
[code]

[2015-11-14 18:08] mwittig commented on #744
@edautz Can you please let me know what kind of problems you have with the latests version pimatic-mysensors?

[2015-11-15 08:30] edautz commented on #744
I started using  pimatic-mysensors@0.8.21. I got with this version correct sensor readings in combination with a serial gateway. After implementing pimatic-mysensors on my second pi, I got some times wierd sensors readings, but it was in combination with version 0.8.22.  I tried to revert to 0.8.21 on my second pie to check if the problem then is gone.

I have to test the @sweetpi solution for rev

[2015-11-15 11:24] edautz commented on #744
The command

sudo npm install --unsafe-perm pimatic-mysensors@0.8.21

works with some WARNINGS:

npm WARN unmet dependency /usr/local/pimatic-app/node_modules/pimatic/node_modules/convict requires cjson@'0.3.0' but will load
npm WARN unmet dependency /usr/local/pimatic-app/node_modules/pimatic/node_modules/cjson,
npm WARN unmet dependency which is version 0.3.1

But the plugin pimatic-mysensors@0.

[2015-11-15 11:24] #744 closed

[2015-11-15 13:49] iMarvinS commented on #746
The idea of creating a rule for every contact is a bit impractical in my case because I have installed 31 of those.
I managed this problem by creating a variable and changing it on every modification of the contact device.
I´ve done the following modification to my contact class :
[code]
Maybe this can be solved more nicely in the upcoming version.

[2015-11-17 17:22] renz45 opened #748 "General z-wave Plugin Proposal"
I tried to post this to the forums, but for some reason it refuses to send me a confirmation email.

I'm planning on making a general z-wave plugin that works with the aeotec usb dongle, I've been experimenting with node-openzwave-shared and recently submitted a pull request for OSX compatibility which I've been using to great success. I was going to make something from scratch, but I like the ide

[2015-11-18 14:58] Ruba5913 opened #749 "[pimatic-log-reader]"
I use LogWatcher to log a file pvlogtemp from eversolar-monitor.
But the graphics behave in a strange way and many times the pimatic webserver is frozen.
On the page zonnepanelen no acronyms are shown.
The amount of W and Wh stays always at the same amount until he is reading the log file than it acts like a counter!
Pimatic and plugins are up to date.
I made some screenshots.

[logwatcher.docx](h

[2015-11-18 19:02] kjdijkema commented on #679
My problem is fixed, I can install the plugin. Thanks!

[2015-11-18 19:32] sweetpi commented on #748
I've marked you account renz45 as validated.

This is a upcoming feature of v0.9 see #745

What do you mean exactly? I'm a little confused because you seem to be mixing device configuration and rules.

For device setup: Currently devices must be added manually to the config. However an api for device discovery is planned.
For rules: Predicates and actions currently only support one device. So you

[2015-11-18 20:06] renz45 commented on #748
Thanks for the quick reply!

I think my planned approach to using pimatic is largely based on my initial work with z wave and the necessity to pair/configure. I think I understand what you mean about having device configuration and rules confused. Device configuration would still be needed, at least at a general level to provide things like a ui to interact with. I think when I first made this pos

[2015-11-18 20:06] #748 closed

[2015-11-19 07:33] sweetpi commented on #748
Sounds great!

The [pimatic-mobile-frontend](https://github.com/pimatic/pimatic-mobile-frontend) does have currently the most features. However it is bases on JQuery mobile (what I wouldn't use again) and knockout.js (where ReactJS or AngularJS are far better alternatives). Nevertheless it works very good and has a relatively nice ui imho.

There is a [angular-material-frontend](https://github.com

[2015-11-19 07:37] andig commented on #364
@thost96  off-topic ;) Check the pimatic-fritz plugin.

[2015-11-22 21:40] edautz opened #750 "[pimatic][shell-execute][mysensors]"
I got a problem when sustract or add a variable from a shellsensor attributetype number with a variable from a mysensors multisensor type integer. In this case the shellsensor will be treated as 0, regardless the value of the shellsensor. A mulitisensor type number is not available, also a shellsensor type integer is not available.

[2015-11-22 22:40] sweetpi commented on #750
Could you post your config of both devices and the rule?

[2015-11-22 23:50] mwittig commented on #750
@edautz This is known bug which I reported about four weeks ago - see https://github.com/DheerajKhajuria/pimatic-mysensors/issues/46

The suggested bug fix has been merged yesterday into master. As it has not been released yet you can clone the master into your pimatic installation.

[2015-11-23 11:31] michbeck100 opened #751 "time out for api.pimatic.org"
Updating plugins in pimatic is currently broken: 504 Gateway Time-out when trying to connect to api.pimatic.org

[2015-11-23 12:28] sweetpi commented on #751
Thanks for the info, up again.

[2015-11-23 12:28] #751 closed

[2015-11-23 16:58] edautz commented on #750
@mwittig I can't determine if the problem you describe solved my issue. But I am not a programmer. I will wait until @DheerajKhajuria releases the new version of the plugin and test again.
Thnxs.

[2015-11-27 21:34] edautz commented on #750
After upgrading pimatic-mysensors to version 0.8.23 problem solved.

[2015-11-27 21:34] #750 closed

[2015-11-29 13:33] sweetpi commented on #749
1. The regex is wrong, try `"m[mi++]=\"[0-9]+.[0-9]+.[0-9]+ [0-9]+:[0-9]+:[0-9]+|([0-9]+);[0-9]+;[0-9]+;[0-9]+;[0-9]+\"`for the current power regex.
2. Try attribute names without space
3. What do you mean by "acts like a counter"? The Log reader always uses the last matching line as value for the attribute. It does not sum up the values or count them.

[2015-12-01 09:51] p4co86 opened #752 "error [pimatic]: Pushover: Parse Error"
today i get this error message:
[code]

[2015-12-01 11:03] Ruba5913 commented on #749
Hello
@sweetpi

 thank you for your answer.

1. The regex what I uses gives no problems. When I delete the (") at the end like you suggested its        not accepted bij pimatic!
2. I removed the spaces but this has no effect.
3. I mean when I look to the solar inverter screen I see the amount of W and Wh changing rappidly when the log file is read.
When its ready the screen is showing the amount a

[2015-12-01 11:05] Ruba5913 commented on #749
I forgot to mention the acronyms aren't shown !!

[2015-12-01 15:14] p4co86 commented on #752
here with debug:
[code]

and this is the rule:
[code]

[2015-12-02 14:51] mwittig commented on #719
So far, I have been using node v4 in a vagrant box which was easy to install. On Raspi, however, the setup can be still cumbersome if you don't want to build node yourself and you're still running on Wheezy. I found the following site useful, however, the latest build did not work for me out of the box, but should be easy to fix. http://node-arm.herokuapp.com/

If you know anything better, please

[2015-12-04 07:49] sweetpi commented on #749
Are you using the most uptodate version of log-reader?

[2015-12-04 07:52] sweetpi commented on #719
Didn't try, but the great thing with node v4 is that there are official binaries for arm: https://nodejs.org/dist/v4.2.3/

So you could use them.

[2015-12-04 09:14] mwittig commented on #719
Ah, ok. Thanks for pointing this out. So, I'll use the official distribution then. The other link may be worth having a look at for installation on Wheezy which requires some tweaks. Basically, you need to upgrade to gcc v4.8

[2015-12-04 09:28] fivdi commented on #719
There's also some information about when g++ 4.8 or higher is required [here](https://github.com/fivdi/onoff/wiki/Node.js-v4-and-native-addons).

Another good source of Node.js binaries is NodeSource. Details and installation instructions can be found [here](https://github.com/nodesource/distributions). However, NodeSource only provide ARMv7 binaries for machines like the Raspberry Pi 2.

[2015-12-04 09:36] mwittig commented on #719
@fivdi Thanks for the links! It is great that nodejs binraies are now officially provided for raspi. Hopefully, more platforms will follow.

[2015-12-04 09:45] fivdi commented on #719
@mwittig yes, it's good that there are now official ARM binaries available.

What's a little unfortunate is the fact that the Node.js v0.10.29 binaries that come pre-installed with Raspbian Jessie 2015-11-21 are broken. It's not possible to install native add-ons with this version of Node.js.

[2015-12-04 11:51] fivdi commented on #719
It appears to be possible to workaround the issue that occurs when installing native add-ons with Node.js v0.10.29 on Raspbian Jessie 2015-11-21. See [here](https://github.com/fivdi/onoff/wiki/Node.js-v0.10.29-and-native-addons-on-the-Raspberry-Pi) for details.

[2015-12-04 12:21] Ruba5913 commented on #749
Yes, I keep pimatic always up to date.
I using log-reader 0.8.7

[2015-12-06 15:18] saxn-paule opened #753 "How to declare a button"
I need to declare a button, that triggers a bash script for de-/increasing the volume of my pioneer receiver.

The DummySwitches aren't usable, because they have a state. I need buttons, that are stateless and only do a "fire and forget". Is there a solution for it yet?

[2015-12-06 15:43] Yves911 commented on #753
You can add a button like this :
[code]
Pls use the forum for help request : http://forum.pimatic.org

[2015-12-06 15:43] rutgerh commented on #753
Hi,

I think you are looking for 'ButtonsDevice".

Bye,

Rutger

[2015-12-06 16:02] psc-bss commented on #753
Thank you. It's working. Here my config:
device:
[code]

My rule:
[code]

And the corresponding script for controling my VSX-921:
[code]

[2015-12-06 16:40] mwittig commented on #753
@psc-bss Have a look at http://forum.pimatic.org/topic/979/denon-marantz-avr-remote-control

May be you can re-use parts of the project (e.g., device definitions, rule definitions) for your own stuff.

[2015-12-08 09:42] Heizelmann commented on #721
Why reverted in pimatic v0.8.89?

[2015-12-09 10:28] sweetpi commented on #753
This is more a quesiton for the forum. Please use the forum next time.

[2015-12-09 10:28] #753 closed

[2015-12-09 10:30] sweetpi commented on #721
Because it leaded to an infinite loop in some cases: https://github.com/pimatic/pimatic/issues/727

While the inital change was reverted in v0.8.89, a better version was introduced in v0.8.90: https://github.com/pimatic/pimatic/commit/76db56a4fc5adcdbfbfaed487a0805c3ca7b2f24

[2015-12-09 10:30] #721 closed

[2015-12-09 15:00] Heizelmann commented on #721
Thanks!

[2015-12-10 20:43] p4co86 commented on #730
i noticed that the error comes periodicaly.
from 23:56-03:00 sometimes 00:03-03:05
i dont wont to create another api account if not nessecary.
so the error should be gone when i set the interval from 1 minute to 3 minute?
thanks

[2015-12-10 22:00] Oitzu commented on #730
Well. Give it a try. Another reason could be 24 hour DSL disconnect?

[2015-12-12 07:54] Pastinakel opened #754 "pimatic crash: max plugin uncaught exception error"
[code]

Pimatic does not start ... any clues? The max cube is responding on the defined address and port (tested with telnet).

[2015-12-12 10:20] mwittig commented on #754
Seems to be a bug in the underlying max-control package maintained by @sweetpi
https://github.com/sweetpi/max-control/blob/master/index.js#L173

[2015-12-12 13:13] benbeton commented on #719
Hi,

I'm running Homebridge on my Pi (requires NodeJS 4.0)
Additional I wan't to use pimatic on the same device.  (NodeJS 0.10.24)

Unfortunately I don't get it, how to run pimatic with Node 4, like posted above.
I'm not that experienced with NodeJS.

Would be great if some one can help and explain how to get pimatic up and running with NodeJS 4.0.
I know there are issues, but I wan't to try cause

[2015-12-14 07:23] p4co86 opened #756 "Transfer to device 7 endpoint 0x1 frame 1306"
my wlan connection is lost every day, i got this in my syslog:

[code]

[2015-12-14 09:02] mwittig commented on #756
Most likely, this is not a pimatic issue. The problem may be caused by the attached Wifi dongle or the kernel driver.
* Did the Wifi dongle work stable in your system setup before?
* Did you attach new/additional USB devices recently?
* Did you change USB cabling recently? For example, do you an extension cord for the Wifi dongle?
* Did update/upgrade the OS recently? This might be a driver bug.

[2015-12-14 09:20] p4co86 commented on #756
before all work fine, no changes made.
i try to update/upgrade the system,
its since 2 days it lost the connection, it looks like pimatic works but the wifi connection gets lost.

[2015-12-14 19:11] quantenschaum opened #757 "dimmer/slider step size, make it continuous"
The slider for dimmer devices can be operated in steps of 5 only. It would be nice, if the slider was as continuous as possible (step size 1, or even floating point slider position). It would also be nice, if the step size was configurable to match the actual device the is controlled.

[2015-12-14 19:17] leader21 commented on #757
pls have a look at the pimatic forum. there's already a feature reques.
could you please close this threat here at git.

https://forum.pimatic.org/topic/1064/dimmer-device-with-adjustable-range-and-step-size

[2015-12-14 21:04] mwittig commented on #757
... and please upvote on the feature request. Thanks!
 I am really hoping for a front-end developer to contribute on this one.

[2015-12-14 21:51] mwittig commented on #323
As part of http://forum.pimatic.org/topic/1127/pioneer-avr-control-plugin we had discussion on what should make an "official" plugin. I addition to the points listed by @sweetpi on the first issue post I would like to suggest to additional points:
* Plugin packages and sources must include a LICENSE
* Plugin authors shall be responsive to user requests. As this is difficult to achieve at all times

[2015-12-14 22:10] mwittig opened #758 "Update bluebird and lodash dependencies"
The versions used in pimatic are pretty much outdated. For lodash you will even get deprecation warnings. I am using these packages as part of plugins via env.

In particular I am missing the following features:
- bluebird mapSeries(). Not supported in earlier versions
- lodash has() and get() supporting access via path. Earlier version only support access by key.

[2015-12-15 06:55] sweetpi commented on #758
Your are right, these dependencies are outdated.

However I normally don't want to update to a higher major version of a dependency without updating the major version of pimatic, because of breaking api changes.

I **think** its pretty save for lodash 2.4.1 to 3. and bluebird  2.10 to 3, but I have to do some testing. Did you do some tests already?

[2015-12-15 07:24] mwittig commented on #758
I haven't tested it thoroughly, yet.
Let me do more testing at my end and I'll issue a PR if successful.

[2015-12-16 11:21] quantenschaum commented on #757
Ok, nice. It's a litte confusing. What is this issue tracker for? Aren't feature requests also a kind of issue? The nice thing with this github integrated issue tracker is, that it's all in one place and you not do not need sign up for again another account.

[2015-12-16 11:34] mwittig commented on #757
@quantenschaum From the developer perspective I agree with you. Note, however, ordiniary users do not necessarily have github accounts and the Forum also serves other needs, like the possibility to upvote which can be useful to prioritize feature requests.
It should also be noted the Forum has been a huge success so far and attracted a lot of new users. To put it short: Most pimatic users use the

[2015-12-16 13:50] leader21 commented on #757
You don't have to create a new account at the forum. you can login with your github credentials e.g.

[2015-12-16 18:02] mwittig commented on #757
Well yes, but due to e-mail verification it is not that easy as github exposes a fake e-mail address to the forum service application. May be this is due to my security settings on github (default settings as far as I can tell). As a consequence I had to change the e-mail address as part of the auto-generated forum account. It would be nice if github accounts would be regarded as trusted entity wh

[2015-12-18 08:44] mwittig opened #759 "[pimatic-gpio] GpioSwitch: Handling of "defaultState" is broken (Bug)"
@sweetpi I think the handling of `defaultState` is broken.
https://github.com/pimatic/pimatic-gpio/blob/master/gpio.coffee#L41-L44

Actually, lines 43-44 will never be executed as  `@config.defaultState` can never be undefined or null as it has a default value. Thus, it is not possible to recover the `lastState`from database.

This happened due to a falsy change proposal suggested by @dfliess
http

[2015-12-18 13:25] neographikal opened #760 "SocketIoClientDotNet vs pimatic: No cookie transmitted"
I'm trying to connect to the websocket server with the SocketIoClientDotNet c# client:

    public PimaticService()
        {
            ConnectionString = "http://url/?username=admin&password=blub";
            Connect();
        }

        public void Connect()
        {
            Socket = null;
            Socket = IO.Socket(ConnectionString);
            Socket.On(Socket.EVENT_CONNECT, () =

[2015-12-19 10:01] mwittig commented on #760
I guess the cookie is created by the server and you need to send it along with every request, which should be doable by simply setting some property (or calling a function once) to let SocketIoClientDotNet as the header for you. May be the following test code is any helpful to understand how to do it: https://github.com/Quobject/SocketIoClientDotNet/blob/master/Src/SocketIoClientDotNet.Tests.net45

[2015-12-19 12:57] dominikkarall commented on #386
I managed to descramble the part which identifies the unit and ON/OFF state. Unfortunately I'm still stuck with the payload part.
You can find more information here:
https://forum.pilight.org/Thread-QUIGG-GT9000-Globaltronics-ALDI?pid=16489#pid16489

Just want to mention that here as well to get some more people on the topic. Maybe somebody has an idea on how to decode the payload.

[2015-12-19 14:45] sweetpi commented on #759
You are right. Why not just remove the default value for `defaultState` from the config scheme?

[2015-12-19 14:49] sweetpi commented on #760
The log message you see is from the socket.io debug log stream. It's not pimatic specific, so best is to ask for help at he SocketIoClientDotNet github project.

It could be that you are missing some cookie handling.

[2015-12-19 14:49] #760 closed

[2015-12-19 14:54] mwittig commented on #759
@sweetpi I thought about this two, but then you're still not able to recover the lastState from DB - ir, is ir possible to make the property optional?

[2015-12-19 15:09] sweetpi commented on #757
I changed the step size to 1. The idea behind the fixed 0-100% scale was to scandalize device behavior. What has some advantages:

1. You don't have to remember the range of each device
2. You don't have to adapt the rules, if you change the device to a different one.

However I agree, that a flexible step size (and maybe min and max) value would be very useful in the mentioned cases.

@mwittig, @

[2015-12-19 15:11] sweetpi commented on #759
If we remove the default from the config, `defaultState` is null, if not set. So [the check](https://github.com/pimatic/pimatic-gpio/blob/master/gpio.coffee#L41-L44) works like intended. I quickly do the patch.

[2015-12-19 15:13] sweetpi commented on #759
Oh it has no default state, so imho it should be working correct already.

[2015-12-20 01:46] Icesory commented on #386
@dominikkarall I have looked into your stuff at pilight. But your payload isnt clear for me
[code]
What means the collums?

The problem, i don´t own this set by my self so i cant really work on it.
But i am interested to solve this code.

[2015-12-20 12:59] quantenschaum commented on #757
Thanks, very good. Used on a mobile device, it probably would not make any difference, if it the step size was even smaller. One could go floating point, but for me it is ok with step size 1. And I agree, that the range of the dimmer slider (or any slider) should be normalized to a common range inside of pimatic and the frontend (like 0-100, as it already is). This keeps things uniform and consist

[2015-12-20 13:48] mwittig commented on #757
I think step size should be configurable as well as minimum and maximum and to keep step size 5, min 0, and max 100 as defaults. The finer step size does not always help. For example the Milight brightness can only be changed in 20 steps, so, the thge step size 5 works fine for that.

I agree, there should be a standard behaviour (which implied by the defaults), but it should be possible to overri

[2015-12-20 14:38] vanturenhout commented on #760
Maybe this will help:
[code]
It works for me...

[2015-12-20 16:37] dominikkarall commented on #386
@Icesory I have updated my pull request for pilight (see https://github.com/pilight/pilight/pull/215).
You can find all the information in the quigg_gt9000.c file. There are the last findings included. If you have any suggestions how to decode the payload part (see my pull request) I would be very pleased.

[2015-12-21 08:40] hansjeu opened #761 "error moving device into group /error when moving device in to other group"
After the update yesterday to mobile-frontend v0.8.76. i get an (or two) error moving a device into group and i get errors when moving device in to an other group.
the error i got first was:
error [pimatic-mobile-frontend]: Client error: TypeError: $root.createToggleGroupCallback is not a function.
After an other reset i get the error:
error [pimatic-mobile-frontend]: Client error: Unable to proce

[2015-12-21 09:35] incmve commented on #761
Got the same thing, removed the mobiel-frontend and re-installed it but that didn't fix it.

[2015-12-21 09:36] koffienl commented on #761
Same here

[2015-12-21 10:26] mwittig opened #762 "[pimatic-mobile-frontend] Presence Attributes are not displayed properly"
Presence Attributes are not displayed properly. They positioned right behind the presence status, but they should be positioned beore (left from) it to be consistent with switch and dimmer.

![Screenshot](https://gist.githubusercontent.com/mwittig/7fc81ae221314d36610d/raw/eccab9eb5ac6929e250e718a22d7337a6b34e0a1/DeviceAttributes.png)

[2015-12-21 12:54] justice70 opened #763 "error please report it!"
error [pimatic]: A uncaught exception occured: Error: dns service error: unknown
    at Advertisement.on_service_registered (/home/pi/pimatic-app/node_modules/pimatic-hap/node_modules/hap-nodejs/node_modules/mdns/lib/advertisement.js:42:24)
    at SocketWatcher.MDNSService.self.watcher.callback (/home/pi/pimatic-app/node_modules/pimatic-hap/node_modules/hap-nodejs/node_modules/mdns/lib/mdns_servic

[2015-12-21 13:12] mwittig commented on #763
Seems to be an issue with pimatic-hap!
Please report the issue at https://github.com/michbeck100/pimatic-hap and close this issue. Thanks!

[2015-12-21 13:22] justice70 commented on #763
thanks for answer
sorry but it was working fine until update piratic 1 hour ago

[2015-12-21 13:45] #761 closed

[2015-12-21 13:46] sweetpi commented on #761
Thanks for reporting should be fixed in pimatic-mobile-frontend v0.8.78.

[2015-12-21 13:49] #763 closed

[2015-12-21 14:15] incmve commented on #761
When I fold or unfold the Ungrouped group I get this
[code]
Devices are shown and I can move them so it's not a problem just to let you know.

[2015-12-21 15:23] quantenschaum commented on #757
Ok, the step size should maybe be configurable, so that the slider locks in at positions that are actually supported by the backend device. But the range could always be [0,100], because you can always apply a transformation to map [0,100] to [a,b] (what ever the backend device supports).

[2015-12-21 16:18] sweetpi commented on #761
@incmve Thanks for the notice. Did publish an additional fix for that.

[2015-12-21 17:37] mwittig commented on #757
@quantenschaum again, disagree. A float step value on a 0-100 scale will be headache. It is much easier to change the scale to what's appropriate.

[2015-12-21 21:57] Darkonionz opened #764 "[pimatic-cron] Time Rules dont work correctly"
Hello i have a Probleme with the rules ,
 I Added Rules like "if its After 22:00 and before 6:00 then do stuff " These Rules dont run when its After 22:00 dont Know how to fix this Hope You Guys can help me

[2015-12-21 22:03] sweebee commented on #764
the rule works fine. because when its 2300 its not before 0600.

use: "if its After 22:00 or before 6:00 then do stuff

[2015-12-21 22:12] Darkonionz commented on #764
ah thank You im so a idiot to not notice this easy fault ;)

[2015-12-21 22:16] sweebee commented on #764
Np, but next time ask questions like this on the forum.

Met vriendelijke groet,

Wiebe Nieuwenhuis

www.wiebenieuwenhuis.nl
wiebenieuwenhuis@gmail.com
06-10 49 22 94

[2015-12-21 22:27] incmve commented on #761
Confirmed thanks

[2015-12-21 22:44] #764 closed

[2015-12-21 23:33] Clark2309 opened #765 "Collapsable groups in mobile frontend not in all browsers"
Hi,
the collapsable groups does not work in Chrome on my iPad. In Safari it works.
Is this a bug?
Best regards Chris

[2015-12-22 06:54] sweetpi commented on #765
What does "not work" mean exactly? Be sure to refresh the mobile-frontend twice and clear the cache if there are still problems.

[2015-12-22 06:54] sweetpi commented on #759
@mwittig I think this can be closed?

[2015-12-22 08:52] incmve commented on #765
On android it worked after refreshing in Chrome.

[2015-12-22 11:56] Icesory commented on #765
After four refreshs in Chrome the collapsible groups appears.

[2015-12-22 12:37] mwittig commented on #759
@sweetpi Yes, that's fine. I have added another PR adding documentation of the defaultState as part of the README

[2015-12-22 17:14] Clark2309 commented on #765
After a few updates it works :-)

[2015-12-22 17:14] #765 closed

[2015-12-23 12:06] wutu commented on #757
As I wrote on the forum. http://forum.pimatic.org/topic/1175/morning-light-simulate-sunrise-as-part-of-pimatic-led-light/5
Dimming through the loop I used here:https://github.com/wutu/pimatic-piblaster/tree/development.
Programmed it's probably pretty awful, but it works with CIE 1931.

[2015-12-23 23:05] mwittig commented on #756
Did you manage to solve the issue?

[2015-12-24 03:45] Icesory commented on #696
done for homeduino
https://github.com/pimatic/pimatic-homeduino/commit/01efdcec9aca0894dc31b251dc1bcb65000e1cb6

[2015-12-24 08:28] #759 closed

[2015-12-25 08:53] tkbi opened #767 "Please, what is the newest version of node.js to use for pimatic with raspian jessie"
Hi,
I'm quite new with all this stuffs around rasp pi2 and arduino, as well Partikel photon (which work great for me)

I have already installed an Owncloud on my rasp pi2, which is running almost a year without probklems in Version 8.2.0 now.
Because I'll will start a new Project, with my photon (have wifi !) to get a weather Station in my garden, and to switch on and off some actors (like lights,

[2015-12-25 15:58] mwittig commented on #767
For the time being please stick to the recommendations given in the [pimatic installation guide](http://pimatic.org/guide/getting-started/installation/), that is node v0.10.24. Unfortunately, there are no newer v 0.10.x builds for Raspberry unless a few unofficial builds which I do not recommend. If you know how to build node from source you can try to build latest-v0.10.x from source, but this ha

[2015-12-25 22:37] edautz opened #768 "[Pimatic-log-reader] Values not updated"
I made a logreader device following the setup from @leader21:

http://forum.pimatic.org/topic/664/sma-solar-inverter-device-via-sbfspot/1

But the device is only updates when pimatic is started. Not when pimatic running.

The source file is updated every 5 minutes,.

I am using log-reader 0.8.7 and pimatic 0.8.91

[2015-12-26 00:01] #767 closed

[2015-12-26 12:43] p4co86 opened #769 "cant start pimatic !"
after my sdcard was corrupt, i have made a fresh install of raspian jessie and pimatic.
but now i cant start pimatic. sometimes it starts, sometimes not.pid exist, but i hangs on the plugins, not always on the same, this is the log:
[code]

nodeversion:
[code]

plugins:
[code]

npm list:
[code]

ls -alh:
[code]

[2015-12-26 15:04] leader21 commented on #769
Is the issue always the same and you can reproduce it or are the issues different? i would recommend to not use the old sd card anymore and move over to hard disk or ssd. guess the sd is broken so ce it has only limited amount of write/read accesses.
have a look at the howto 1 in the forum. there is a link with a step by step solution for install a usb disk as root filesystem

[2015-12-26 15:36] Icesory commented on #769
I have burned four SD cards in my pimatic pi. It is definitely recommend that you use a HDD as system partition. And the SD card which was corrupted can you throw in the bin.

[2015-12-26 18:35] p4co86 commented on #769
hey! thanks for your answers, actually i use the old sd card and have switched to usb, so i use the sdcard just for boot. next i try a new sd card, but i think it should work because the old sdcard is just for the boot process. usb stick partition is resized!

[2015-12-26 18:37] p4co86 commented on #769
the issue is always the same, after a the fi fuse was triggered the sd card was corrupt and i have installed a fresh raspian with pimatic on usb stick and now i cant start it. !

[2015-12-26 21:12] leader21 commented on #769
better not use an usb stick either! it's almost the same like an sd card and will not last any longer than a sd card.
your node version is the ok? check with `node -v` if its 0.10.24

[2015-12-26 22:04] p4co86 commented on #769
Ok. A normal hdd will do the job? Node is 0.10.24

[2015-12-26 22:15] leader21 commented on #769
yes a hdd will do the job. i am using an ssd without issues and before that i had a hdd attached.

[2015-12-26 22:25] p4co86 commented on #769
How do you backup your system? Did you Marke a hole backup with image? Whats the best way doing this?
Thanks

[2015-12-26 22:28] leader21 commented on #769
i'm having a rule that copies my config.json every night to my nas.
all other scripts and my home folder i backup manually when i edited something.
well there are lots of easier methods i guess ^^

[2015-12-26 22:30] p4co86 commented on #769
Des, i will open a thread. Thanks for that

[2015-12-26 23:34] #769 closed

[2015-12-28 22:12] leader21 opened #770 "Shutter buttons squeezed together"
after updating to mobile frontend 0.8.80 my shutter controls are looking strange
![](http://www.youscreen.de/kbpgyuek55.jpg)

any suggestions?
having this on firefox and chrome as well as on my android mobile

[2015-12-29 12:46] edautz commented on #768
The logfile I used was created on another Raspberry and tranferred with SCP to the Raspberry with Pimatic.

Even when I touch the files or edit with nano, the values are not updated with the log-reader.

I discovered that the values are only updated when I copy the files locally to another filename and back again.

Is this a bug?

[2015-12-29 18:06] p4co86 commented on #770
I noticed it too.

[2015-12-30 19:52] leader21 opened #771 "[pimatic-calendar] socket hang-up"
wanted to test the new calendar plugin but getting this error
![](http://www.youscreen.de/ljqqpsdz00.jpg)

[2015-12-31 09:18] hansjeu opened #772 "[pimatic-openweather] A uncaught exception occured: Error: connect ECONNREFUSED"
[code]

[2015-12-31 09:54] mwittig commented on #772
Does the issue occurs repeately?
Did you change openweather settings recently?
Can you please post the openweather device configuration you're using (xxx out your API key)?

[2015-12-31 11:13] hansjeu commented on #772
i did not change anything.

    {
      "plugin": "openweather",
      "apiKey": "xxxxxxxxxxx"
    },
    {
      "id": "weather",
      "class": "OpenWeatherDevice",
      "name": "Huidig Weer Nijmegen",
      "location": "Nijmegen, Netherlands",
      "units": "metric",
      "lang": "nl",
      "timeout": 600000
    },
    {
      "id": "forecast",
      "class": "OpenWeatherForecastDevice",

[2015-12-31 11:25] hansjeu opened #773 "not a bug not an error but not nice"
i use the pulgin filter to eliminate some extremes in my location readings.
    {
      "class": "SimpleTruncatedMeanFilter",
      "id": "filter2",
      "name": "Filter2",
      "size": 5,
      "output": {
        "name": "afstand_weg",
        "expression": "$iphone-xxxxx.routeDistance",
        "acronym": "AW2",
        "type": "number",
        "unit": "m"
      }

when i start pimatic i get

[2015-12-31 11:29] mwittig opened #774 "[pimatic] semver version used is vulnerable to ReDOS attacks"
@sweetpi The semver version used by pimatic is pretty much outdated and it is vulnerable to ReDOS attacks - https://nodesecurity.io/advisories/31

Is it possible to update to the current version or is this likely to break pimatic?

[2015-12-31 11:33] mwittig commented on #773
https://github.com/mwittig/pimatic-filter/issues/3

[2015-12-31 11:33] #773 closed

[2015-12-31 13:53] sweetpi commented on #771
Strange, with which calendar provider did you try (e.g. google)? How big is your ical file, if you download it yourself?

[2015-12-31 14:05] #770 closed

[2015-12-31 14:06] sweetpi commented on #770
Thanks for reporting, should be fixed in monile-frontend v0.8.81.

[2015-12-31 14:07] sweetpi commented on #772
Hm I thought I have fixed all this problems long ago in the openweather module..

[2015-12-31 14:10] hansjeu commented on #772
i will keep watching it.
maybe its a problem of the site.
Report tomorrow if thats ok

[2015-12-31 14:13] sweetpi commented on #772
Big thanks for reporting. It looks like a networt error (Either openweather was down or your internet connection). However obviously we don't handle these errors correctly, so that it gets to the global error handler which shouts out loud :D.

[2015-12-31 14:20] hansjeu commented on #772
I had these errors on two machines on two differend internet connections and providers.
So i think you do not have to look to that option, the chance of two differend providers craching at the sane time is to small) therfore i think openweather had problems. funny that only i reported it.

[2015-12-31 14:45] leader21 commented on #771
using google calendar, my ical file has approx 76kb

[2015-12-31 15:26] sweetpi commented on #771
That shouldn't be a problem. Does the error happen all time?

[2015-12-31 19:12] leader21 commented on #771
happens once pimatic starts up. honestly I did not   investigate any further if the plugin works nevertheless. gonna try it later maybe

[2015-12-31 19:54] leader21 commented on #771
ok tested it and it works as expected!! sorry to bother with this issue.
thx for this nice plugin!!

[2015-12-31 19:54] #771 closed

[2016-01-01 08:56] hansjeu commented on #772
No errors today

Greets Hans

[2016-01-01 16:41] p4co86 opened #775 "[pimatic-homeduino] timeout"
I get this error, arduino ist flashed and all worked finde before.

error [pimatic-homeduino]: TimeoutError: operation timed out
    at afterTimeout (/root/pimatic-app/node_modules/pimatic-homeduino/node_modules/homeduino/node_modules/bluebird/js/main/timers.js:11:15)
    at timeoutTimeout (/root/pimatic-app/node_modules/pimatic-homeduino/node_modules/homeduino/node_modules/bluebird/js/main/timers

[2016-01-03 01:08] leader21 opened #776 "gui does not start up after clearing cache / not operable anymore"
having trouble after clearing the cache to login properly.
the gui is not operable anymore and looking like that
![](http://www.youscreen.de/ldrtqrvy21.jpg)

maybe the latest mobile frontend update has an issue?

[2016-01-03 01:14] leader21 commented on #776
... forget about it ... rebootet the pi and all works as expected ...

[2016-01-03 01:14] #776 closed

[2016-01-05 00:23] Icesory opened #778 "Pimatic can't be stopped after update some times."
I have discovered that pimatic can block the stop of the node processed.

This can occur when you run the update in pimatic but don't restart pimatic after this. Let it run for around one day and it isn't possible to stop the node process. The only thing what helps is an "sudo kill - 9 PID".

Pimatic and the whole system runs normal in this state.

[2016-01-07 08:28] michaelberg79 opened #779 "pimatic max, only set temperature by rule if mode is set to auto"
Hello,
Currently, i using following rules for set the heating by rule:

if its after 00:00 and before 08:30 and [its sunday or its saturday] and $bhbad.mode = "auto" then set temp of BM Bad to 17
if its after 00:00 and before 08:30 and [its sunday or its saturday] and $bhwohnleft.mode = "auto" then set temp of BM Bad to 17

It would be much easier if pimatic dont changes the temperature by rule if

[2016-01-07 14:06] mwittig commented on #779
Thanks for your report. I agree it'll make writing rules a easier if the set-action is only performed in auto mode. May be this can even be regarded as common behaviour of the "HeatingThermostat" device class.

Note, it may take a couple of weeks before someone gets assigned to this ticket.

[2016-01-07 14:13] leader21 commented on #779
agreed! rules shouldn't change the behavior of the thermostats when switched in manual mode!
actually i am using the internal max timetable for having a basic heating program. therefore i have not faced this issue before.
maybe @georg90 is able to have a look into that?

[2016-01-07 19:15] Icesory commented on #779
Weeks? I will look into this in the next days xD

[2016-01-07 19:17] n3roGit commented on #626
i have the same problem

[2016-01-07 19:46] mwittig commented on #779
That would be nice. However, do you have access permissions? If not we may not be able to merge the pull requests.

[2016-01-07 20:33] Icesory commented on #779
No i have only permissions for all the homeduino related stuff.

I have not testet it but eventually this solves the problem.
https://github.com/Icesory/pimatic/commit/84999d0adfdb16b1321755995dbda3aa53d09f2a
Can some one load this file into his pimatic an test it?

[2016-01-08 09:25] tommmi32 commented on #348
Hi
I need to upgrade the firmware, but the site: http://www.hi-flying.com/ doesnt work, can someone provide me the newest version of firmware - 4.02.11T.15 ?

[2016-01-08 09:38] incmve commented on #348
Here you go
https://www.dropbox.com/s/eiaxivcm0l9pf3h/HF-A11-SMT_Firmware.zip?dl=0

[2016-01-08 09:58] tommmi32 commented on #348
Thanks for a quick response!!!!!!
And now, i have one important question. Can i upgrade it from firmware 4.02.10 (HX001) to 4.02.11T.15 (LEDnetXXXXXXXXXX)? Is there a hardware compatibility?

[2016-01-08 10:20] incmve commented on #348
I really don't know use at your own risk ;)

[2016-01-08 10:33] leader21 commented on #348
Since this is no real pimatic issue it would be nice to clarify those questions at our forum.pimatic.org
thx

[2016-01-09 19:53] michbeck100 commented on #719
@benbeton if you like homebridge you will love [pimatic-hap](https://github.com/michbeck100/pimatic-hap)

Anyways, is there any progress on this topic?

[2016-01-09 20:19] Xento opened #780 "[pimatic-max] Autoreconnect to the cube"
Sometimes I receive this error: connection error: Error: read ECONNRESET
I would be glad if the plugin would try to reconnect itself instead of having to restart pimatic.

[2016-01-09 20:42] leader21 commented on #780
Which plugin you are talking about?

[2016-01-09 20:50] Xento commented on #780
Oh I thought I saved the change to the title.

[2016-01-10 02:52] ChupZz opened #781 "Install pimatic with existing sqlite instance"
Hi there,
I've got a little of a Problem with installing Pimatic while my Pi is running an Owncloud.
I think the Problem is that my Owncloud is using sqlite3 as well.
From my Owncloud config.php
 'dbtype' => 'sqlite3',
  'version' => '8.2.2.2',
Pimatic keeps haning stating this line: (for 2 hrs. right now)
01:26:36.424 [pimatic] Listening for HTTP-request on port 5000...

Is there any possibility

[2016-01-10 03:28] Icesory commented on #781
Because this isn't really a bug, can you please ask your question in our forum.
forum.pimatic.org
You can login with your github.com account.

This line
01:26:36.424 [pimatic] Listening for HTTP-request on port 5000...
Is a normal message from pimatic and says you that it is waiting for an user.
Have you tried to open the pimatic Web page?

[2016-01-11 06:38] benbeton commented on #719
thanks @michbeck100 I'll have look at it!
Since running Homebridge as a dockerized version, updating pimatic to work with Node 4 is not that important (to me) anymore.

But would be a good thing to do it in near feature

[2016-01-11 11:09] TRIROG opened #782 "error [pimatic]: Cannot read property 'length' of undefined - using HomeduinoRFShutter - class,Shutter 4 protocol"
Trying to control Rohrmotor24 motor using the shutter 4 protocol and HomeduinoRFShutter and i get the following:
 [pimatic] error: Cannot read property 'length' of undefined

Also HomeduinoRFShutter class is missing the stop button (or should another class be used for my roller shutters?)

if i use tthe same protocol with HomeduinoRFButtonsDevice class everything works normally (except my config g

[2016-01-11 11:37] mwittig commented on #782
Thank you for you bug report. I can reproduce this error and I think it same the same problem as reported
on the forum http://forum.pimatic.org/topic/969/homeduinorfshutter-shutter3-how

[2016-01-11 11:43] MaxWinterstein opened #783 "[pimatic-shell-execute] API is unable to toggle ShellSwitch"
Hello,

i have a ShellSwitch Device, copied from https://github.com/pimatic/pimatic-shell-execute#shellswitch-device .

When i try to toggle it via api
[code]
it is only possible to turn the device on, not off.

I think toggle is looking at the current state via the "getState" command, even this is not used in the device?

[2016-01-11 12:44] Icesory commented on #783
At the moment "getState"  runs the code defined in the "getStateCommand" field. And when you set it up with "echo false" it returns ever false and toggle can only switch to true.
https://github.com/pimatic/pimatic-shell-execute/blob/master/shell-execute.coffee

The getState command should check his config and when "getStateCommand" isn't set it should return the state of the device in pimatic.

[2016-01-11 12:56] MaxWinterstein commented on #783
Yes, exactly that would i expect. I have no "getStateCommand" and i think it fallsback to default.
https://github.com/pimatic/pimatic-shell-execute/blob/master/device-config-schema.coffee#L21

This should be implemented, it is not possible to get a state out of every thing ;)

[2016-01-11 13:02] mwittig commented on #782
I have open a ticket on pimatic-homeduino for this.

[2016-01-11 13:02] #782 closed

[2016-01-11 13:03] TRIROG commented on #782
OK
Also HomeduinoRFShutter class is missing the stop button (or should another class be used for roller shutters?)

[2016-01-11 13:12] mwittig commented on #782
I am not sure why the Shutter UI has no stop button. **Please raise this as a question on pimatic forum.**

All shutter protocols we have seem to support the stop command, so, ther should be a stop button I think. As work-around you can use the buttons device you already have setup.

[2016-01-11 14:35] Icesory commented on #782
The Shutter device has generally no stop button. The stop function is implemented as an reclick on the button. When you want to close you shutter, you click on down. The button change his color to blue. When the shutter reached the target high you must click again on the down button to stop the shutter.

[2016-01-11 15:51] mwittig commented on #783
@Icesory I think, it is better to remove remove the default from the schema as it does not make sense really. Some users may think it is enough to give the on and off commands, but it is not if you want to have consistent state in pimatic. As it may some sometimes difficult to get the state of the external device, may be we should implement a state variable which is set by default if the on or off

[2016-01-11 16:02] Icesory commented on #783
I have looked at the code and an simple remove of the default state will not help.
But i will create an fix now.

[2016-01-11 21:55] kayloehmann opened #784 "Ooops...Unexpected end of input when trying to install plugins or updates"
I suddenly get an error "Ooops...Unexpected end of input" when trying to install plugins or trying to update pimatic. Anyone also affected?

[2016-01-11 21:56] #784 closed

[2016-01-11 23:41] rubenoost7 opened #785 "[pimatic-johnny-five] Plugin is not a npm package"
It appears as if the plugin (or one of its dependencies) is not correctly packaged for npm. After adding the plugin to the config file like this:

[code]

And running pimatic, the following error is produced:

[code]

After going to the specified location `/home/pi/pimatic-app/tmp/npm-1787-omwKUTnO/1452555272054-0.5591643648222089/tmp.tgz` and opening it with a text editor, the archive appeared to

[2016-01-12 01:27] mwittig commented on #785
Thanks for raising this issue and providing the pull request! This issue should be fixed now with release 0.8.4. I noticed some EACCES errors in my test setup, but the install succeeded anyway.

[2016-01-12 01:27] #785 closed

[2016-01-12 06:48] TRIROG commented on #782
Thank you for this explanation!

[2016-01-12 07:44] p4co86 opened #786 "[shell-execute] [pimatic-shell-execute]: ShellSwitch: stderr output from getStateCommand for Samsung TV"
Good morning.

i get this error message when i stop my kwhmeter service.
[code]
First of all, i read my kwh meter with an arduino and write the data to a file.after that i have a logreader device.

this is my python programm to read the datat from the arduino.
[code]

But sometimes i have the problem, that the service is still alive, but the arduino sends no datat via serial to the logfile.

i hav

[2016-01-12 14:49] mwittig opened #787 "[pimatic] Missing localization for switch state"
The switch is always displayed as On/Off regardless of the localization set. As a work-around one may use xOn/xOff labels. See also http://forum.pimatic.org/topic/1258/dummy-contact-sensor and https://forum.pimatic.org/topic/2155/german-locale-isn-t-working

[2016-01-13 10:24] ch-world commented on #28
I started working on a plugin for controlling hue bulbs. Feel free to take a look at it: https://github.com/ch-world/pimatic-hue

[2016-01-13 13:42] mwittig opened #788 "[pimatic-shell-execute] Add autoreset for ShellPresenceSensor"
SensorsDevices HomeduinoRFPir, HomeduinoRFContactSensor, MySensorsPIR have the autoreset option (properties autoreset, resetTime. Actually in ShellPresenceSensor this feature is missing.

See also http://forum.pimatic.org/topic/1271/autoreset-for-shellpresencesensor

[2016-01-15 15:15] mwittig commented on #786
Getting a broken pipe is rare but not necessarily an error. May be the following post gives some hints on how to fix it in your case - http://superuser.com/questions/554855/how-can-i-fix-a-broken-pipe-error

[2016-01-16 15:25] thost96 opened #789 "[pimatic-filebrowser] no "configSchema" property"
Hey, after installing pimatic-filebrowser for using it to display the changelog, described here: https://forum.pimatic.org/topic/1263/solved-wanted-howto-see-pimatic-version-in-gui/, i get the following warning:

[pimatic] package.json of "pimatic-filebrowser" has no "configSchema" property. Could not validate config.

here is the filebrowser plugin config:
{
   "plugin": "filebrowser",
      "map

[2016-01-16 15:44] mwittig commented on #789
I think this warning can be safely ignored as "pimatic-filebrowser"  does not expose devices.

The code as part of the pimatic core checking the plugin descriptors could perhaps be improved to avoid this warning for plugins which don't expose devices.

[2016-01-16 15:59] leader21 commented on #789
Guess you're trying to install the changelog devices eh ;)
this message can be ignored. The file browser works anyways. having it too.

[2016-01-16 16:04] thost96 commented on #789
Thanks for your feedback.

[2016-01-16 16:04] #789 closed

[2016-01-16 16:36] thost96 opened #790 "Command Failed Error"
Hi, i'm getting this two errors and don't know what is causing this:

Unhandled rejection Error: Command failed:
    at ChildProcess.exithandler (child_process.js:637:15)
    at ChildProcess.EventEmitter.emit (events.js:98:17)
    at maybeClose (child_process.js:735:16)
    at Socket.<anonymous> (child_process.js:948:11)
    at Socket.EventEmitter.emit (events.js:95:17)
    at Pipe.close (net.js:4

[2016-01-16 17:59] mwittig commented on #790
When does it happen exactly and what is the result of this? It'll also be great if you can provide the log file, please.

[2016-01-16 19:27] leader21 commented on #790
i guess this has something to do with the changelog devices you are actually trying to implement.
if not - forget everything below this line :joy:

as i formerly said [](here https://forum.pimatic.org/topic/1263/solved-wanted-howto-see-pimatic-version-in-gui/10) you are only having 60 api calls per hour. if those are used up, there's an error.
you can check wether you have any free api calls with

[2016-01-16 19:48] thost96 commented on #790
@leader21 yes, i added the changelog device. I had totally overread this part of your tutorial.

[2016-01-17 12:57] thost96 commented on #790
@leader21 after waiting from yesterday due to today nothing on this error changes. So i restartet pimatic und run the `curl https://api.github.com/rate_limit`command. This is my output:

[code]
I also added the pimatic log:
[pimatic-daemon.txt](https://github.com/pimatic/pimatic/files/93389/pimatic-daemon.txt)

The command was run after pimatic started succesfully. I also get no content in the cha

[2016-01-17 13:25] #790 closed

[2016-01-19 18:51] Heizelmann opened #791 "[pimatic-mysensors] Attribute 'batterySensor' for MotionSensor missing"
see also https://github.com/DheerajKhajuria/pimatic-mysensors/issues/55

[2016-01-19 19:41] scobby opened #792 "[pimatic-shell-execute] ShellSwitch executes shell command twice"
Simple Shell switch:

    {
      "id": "test-shell-switch",
      "name": "test shell switch",
      "class": "ShellSwitch",
      "onCommand": "eventghost.sh spotify on",
      "offCommand": "eventghost.sh spotify off",
      "interval": 0
    },

all shellswitch commands are runs 2x with a delay of 2-3 seconds.
Log:
spotify  :  on
Di 19. Jan 20:35:07 CET 2016
spotify  :  on
Di 19. Jan 20:35:09

[2016-01-19 23:26] #791 closed

[2016-01-19 23:48] mwittig commented on #792
I can't reproduce your problem.

Does this happen as a result of switch manually or is it as part of a rule - or may be even both?

[2016-01-20 09:03] hansjeu opened #793 "Error if i check for updates"
I get this error if i check for updates.

error [pimatic]: { name: 'StatusCodeError',
  statusCode: 504,
  message: '504 - <html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body bgcolor="white">\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n',
  error: '<html>\r\n<head><title>504 Gateway Time-out</title></head>\

[2016-01-20 09:19] hansjeu commented on #793
Sorry problem sloved.
Greetings Hans

[2016-01-20 09:19] #793 closed

[2016-01-20 10:05] leader21 commented on #793
just for information - the update server was down.
now all should work again.

[2016-01-20 10:07] mwittig commented on #791
I've closed this ticket as this appears to be duplicate.

[2016-01-20 18:41] Ruba5913 opened #794 "Can not update pimatic"
Hello,

I have 2 rpi with pimatic and I can't update anymore.
I the errorlog I found this:

error [pimatic]: 504 - <html>
<head><title>504 Gateway Time-out</title></head>
<body bgcolor="white">
<center><h1>504 Gateway Time-out</h1></center>
<hr><center>nginx/1.4.6 (Ubuntu)</center>
</body>
</html>

[2016-01-20 19:18] leader21 commented on #794
please restart pimatic, then everything should be fine again.
the update server had some troubles last night.

[2016-01-20 20:18] Ruba5913 commented on #794
Yes, this solved the problem.
Everything is working well again
Thanks !!!

[2016-01-20 20:18] #794 closed

[2016-01-20 21:23] Nears opened #795 "Error while installing pimatic-led-light plugin"
Hi all,

i got the following error after I added the led-light plugin and restared pimatic.
I did install libudev-dev but it won't help....
Any suggestions what I can do?

21:18:22.874 [pimatic] Cannot find module 'serialport'
21:18:24.194 [pimatic] Error: Cannot find module 'serialport'
21:18:24.194 [pimatic]>    at Function.Module._resolveFilename (module.js:338:15

[2016-01-20 23:06] mwittig commented on #795
Did you install libudev? Please see the Installation section of the README - https://github.com/philip1986/pimatic-led-light/blob/master/README.md

[2016-01-21 04:38] Nears commented on #795
Yes i did, but it does not solve the problem.

[2016-01-21 13:06] mwittig commented on #795
May be you need to run `npm install` again.

[code]

[2016-01-21 21:08] Heizelmann commented on #791
I placed it first to https://github.com/DheerajKhajuria/pimatic-mysensors/issues/55 and then I saw that on this plugin is not much conversation. Then I saw that here it is common to place issues for plugins with the plugin name in brackets as prefix to the title, so I did this too.

For me this is an important issue which should not overlooked.

[2016-01-21 23:27] mwittig commented on #791
No worries. However, we should avoid duplication of issues.  DheerajKhajuria/pimatic-mysensors#55  is the right place as @DheerajKhajuria is maintaining the plugin

[2016-01-22 08:21] sweetpi commented on #788
Looks good. If you want, you can merge and publish it. I granted you npm and github permissions.

[2016-01-22 08:22] sweetpi commented on #28
nice

[2016-01-22 08:24] sweetpi commented on #783
Sounds like a good solution :+1:

[2016-01-22 08:27] sweetpi commented on #781
Seems like normal behavior. There should be no problem with owncloud using sqlite, because pimatic uses its completely separated own sqlite module. Check if you can access the webfrontend through port 5000.

[2016-01-22 08:27] #781 closed

[2016-01-22 08:47] mwittig commented on #788
Ok, thanks. Will do.

[2016-01-22 08:51] mwittig commented on #783
@icesory Did you already work on a fix? If not I'll be happy to look into this.

[2016-01-22 18:04] Icesory commented on #783
Sorry. I have forgot this issue.
No i have not work on an fix for this. But this should be only a one liner to fix.

[code]
and of course the default for the getCommand must be removed

[2016-01-23 00:32] MathijsG opened #796 "Web interface not showing up"
I just installed a brand new version of Raspbian Wheezy on my Raspberry Pi 2, using this image: https://www.raspberrypi.org/downloads/raspbian/

Then I followed http://pimatic.org/guide/getting-started/installation/ _exactly_

Now everything is installed, but after starting the software I get nothing when I put in the IP:PORTNUMBER

Here is my Log file:

coffee-cache: compiling coffee-script file

[2016-01-23 01:19] mwittig commented on #796
As you're writing you have followed the instructions exactly, I am wondering whether or not you tried to connect to port 8080?

[2016-01-23 01:37] mwittig commented on #783
Ok. Implemented it as part of PR https://github.com/pimatic/pimatic-shell-execute/pull/8

[2016-01-23 09:53] MathijsG commented on #796
Yeah, I sure did it with the port set, I even set it to 8080 manually to exclude a possible problem with port 80 already in use. But somehow after a few reboots, I did got a web page. So it's working now :).

[2016-01-23 09:53] #796 closed

[2016-01-23 10:12] #788 closed

[2016-01-23 10:14] mwittig commented on #783
@MaxWinterstein Fixed in release 0.8.14.

[2016-01-23 10:14] #783 closed

[2016-01-26 20:45] Nears commented on #795
Thanks for your response, but it won't fix my problem. I still get the same error when starting pimatic.
Any other ideas what I can try?
Thanks in advance.

[2016-01-26 21:09] mwittig commented on #795
A few days ago I had problems with another plugin using seriaport which did install properly if installed as root. Please try the following
[code]

Please also let me know you debian version nodejs version. Thanks

[2016-01-26 23:12] Nears commented on #795
Installing it as pi user and not as admin solved the issue.
Thanks for your support.

[2016-01-26 23:26] mwittig commented on #795
Great!

[2016-01-26 23:26] #795 closed

[2016-01-29 04:18] roccomuso opened #797 "Presenting a new repo"
Hi guys,

I just wanna show you my new repo, inspired by pimatic.. There's something in common but also really different implementations and features..

https://github.com/roccomuso/iot-433mhz

Any feedback would be appreciated. Thanks!

[2016-01-29 05:30] Icesory commented on #797
Really interesting.
I like the UI a lot.

But Pimatic is a lot more than an 433MHz controller. There are dozens of plugins available for all kind of stuff. Johnny-Five, MySensors, Dht and many more. Different native Android apps are also in development.

What didn't you like on pimatic? What are your reasons to create a own system?
It would be awesome to get your UI for pimatic as an own plugin.

[2016-01-29 10:21] sweebee commented on #797
The funny thing is that I'm reducing the amount of 433mhz devices. The reason I chose for pimatic is because of the combinations of protocols. I'm only using 433mhz for wall remotes. All the lights are now hue or mysensors. All my pirs and light sensors are also mysensors

[2016-01-29 10:37] mwittig commented on #797
Rocco, thanks for sharing your project with us! I really like the UI snapshot and I'll definately trial your project. As @Icesory said one of the strengths of pimatic is providing a large base of plugin and it also has various frontends to offer. In line with what @sweebee said I think 433 Mhz device provide for first entry to the world of home automation because they are cheap and simple and you

[2016-01-29 15:58] roccomuso commented on #797
Thanks for you replies :)

@Icesory Well this was a thesis project. I had a lot of 433mhz in my home, so I've decided to build something cool, easy to interact and start with. The system is pretty intuitive. The are a lot of cool features. You can have the UI open on several devices and it will be updated in real time. On mobile you can shake your smartphone and automatically the cards reorganize

[2016-01-29 16:16] mwittig commented on #797
Rocco, thanks for your feedback. I agree with what your're saying regarding wifi sensors and such. Either a specifc product (e.g. Wifi PIR) is not available or the stuff is expensive, no matter whether ut is Wifi, ZigBee , zWave or whatever. The average cost per data point (sensor/actuator) is at about 35-50 Euros while 433 Mhz stuff is available for a few Euros. This is why some fo use started ti

[2016-01-29 16:18] sweebee commented on #797
I think hue is not that expensive. White hue bulbs are 17 euro's And dimmable (And 100x more reliable) look at the price of 433mhz dimmers. Z-wave dimmers are around 50-60 euro. For that you have a rgbw hue bulb.

[2016-01-29 16:30] mwittig commented on #797
May Hue is cheaper in NL than in Germany?! In Germany, a hue starter set with 3 RGB bulbs costs about 175 EUR - well, Media Markt had an offer with 2 Lux white bulbs for 80 Euros. Compared to this Milight is less than half of the price. However, I like hue for color rendition which is way better than Milight.

[2016-01-29 16:38] sweebee commented on #797
Hue color is around 53 euro's.
Hue white around 17 euro's.
You'll still need a bridge ofcourse, but you only need 1.

[2016-01-29 16:49] roccomuso commented on #797
@mwittig yeah i'm using esp8266 too and waiting for the new ESP32. I worked a lot with MQTT protocol and esp8266-based sensors... anyway thanks :)

@sweebee Here in italy a white bulb 20 euros. And 80 euros 2 white bulbs and a Bridge.
PS. also the Milight needs a Bridge am i right?

[2016-01-29 17:08] mwittig commented on #797
Yes, the Wifi bridge costs about 20 EUR and 6W RGBWW bulb is about 13 EUR. It is also possible to build your own bridge - https://github.com/henryk/openmili

[2016-01-30 04:42] kenci opened #798 "REST-API returns always true"
When requesting status of a device over the REST-API you got something like this
[code]

But the problem is when i request a device that doesn't exist. It returns `{
  "success": true
}` as result.

[2016-01-30 13:46] iMarvinS opened #799 "Loading Plugin "env is not defined""
I´m currently developing a new plugin but when is gets loaded into Pimatic I get an error message:
[code]
Here is the main entry point of the plugin I use:
[code]

[2016-01-30 13:47] iMarvinS commented on #799
I´m using the latest commit from the v0.9.x branch BTW.

[2016-01-30 14:17] #799 closed

[2016-01-30 22:39] mathiaslehmann opened #800 "Black Saturday, no rule works with Operation Weekday Saturday"
All rules with Operation Weekday Saturday at 01/30/2015 do not work.

[2016-01-30 23:48] mathiaslehmann commented on #800
It also works today on Sunday the 31.01.2015 not.
My test Rule is "If Sunday then switch Light on"
Last week it still works, since yesterday no longer.

[2016-01-30 23:52] mathiaslehmann commented on #800
Sorry, the Date is 30.01.2016 and 31.01.2016

[2016-01-31 07:48] kenci commented on #800
For me it's also not working. `IF its sunday THEN log "Sunday"`

[2016-01-31 09:08] sweetpi commented on #800
Found the bug. It should be fixed with pimatic-cron v0.8.6. Please reopen if the problem still exists with the new version.

[2016-01-31 09:08] #800 closed

[2016-01-31 17:28] sweebee opened #801 "No cookie transmitted"
Sometimes pimatic gets flooded by this message. I don't know where it comes from.
[code]

[2016-01-31 17:44] EelcH opened #802 "Group some devices in a variable"
Is it possible to add a couple of devices in one 'group'? Member Betonishard mentioned this in issue 'Rules for groups and buttons #227' in 2014 but this issue is closed. I wonder if this is possible in 2016.

The use is quit clear: I would like to make lightscenes to switch all devices in a room. Now I have a rule: "if button-scene is pressed then turn a03 off and turn a05 off and turn a07 off an

[2016-02-02 22:28] michbeck100 opened #803 "Using required attribute on attribute with type = "object" in config schema breaks JSON schema validation"
I'm trying to create a new config schema where an attribute of type "object" can be optional, so I've added the required attribute.
This is an example:

[code]

When this config schema gets validated using Jayschema in Framework._validateConfig (framework.coffee:80), the complete process hangs and after a while stops with "process out of memory".
I guess this is due to https://github.com/natesilva

[2016-02-02 22:28] SLiX69 commented on #798
```{ "success": true }``` is returned when your connection to the host was successful. If you look for a variable with a wrong id the API return ```{ "variable": null }, { "success": true }``` Would love to have that for everything.

But a possible solution would be to look if the object ```"device": { }``` exists or is empty (don't know your possibilities (in NodeRed))

[2016-02-03 10:15] sweetpi commented on #798
Indeed I think it would be better to return an error code 404. I will have a look into it.

[2016-02-03 21:06] thost96 commented on #801
@sweebee Could you clear all browsers cache?`

[2016-02-03 21:08] thost96 commented on #778
I also have noticed this problem a lot of times, specially when starting and restarting pimatic a bunch of times.

[2016-02-04 06:54] sweetpi commented on #799
solved?

[2016-02-04 07:24] sweetpi commented on #778
@Icesory Could you check if https://github.com/pimatic/pimatic/tree/knex0.9 solves the issue?

Please make a backup of your database before trying.

[2016-02-06 16:35] EelcH commented on #802
This is not a bug, is't a request. I'll post it elswhere.

[2016-02-06 16:35] #802 closed

[2016-02-08 20:15] Yves911 opened #804 "Error loading device c1: "contact2" must be one of the following types: "switch, contact""
Hello,

since last update i get this message
[code]
this is how my device is configured
[code]
and until now it was working fine.
Any idea?

[2016-02-08 21:13] Icesory commented on #804
The protocol contact2 is declared as an wrong type. https://github.com/pimatic/rfcontroljs/blob/master/src/protocols/contact2.coffee#L13

this line should be "contact"
Can you fix it for your self? Will wait until the next weekend to see what is also broken.

[2016-02-08 22:37] andi216 opened #805 "error [pimatic]: Error loading device rolladen: Protocol "shutter3" has no property named "unit". Available properties are: "id" "id" "channel" "command""
Hello,

since last update i get this message:

error [pimatic]: Error loading device rolladen: Protocol "shutter3" has no property named "unit". Available properties are: "id" "id" "channel" "command"

{
      "id": "rolladen",
      "name": "Rolladen",
      "class": "HomeduinoRFButtonsDevice",
      "buttons": [
        {
          "id": "roll1",
          "text": "▲",
          "protocols": [

[2016-02-09 00:12] mwittig commented on #805
Can you please post the device configuration in question? Thanks

[2016-02-09 06:12] Icesory commented on #805
We habe implemented a stricter config check. You must only remove the unit entry from your config and all should work again.

[2016-02-09 06:30] andi216 commented on #805
error [pimatic]: Error loading device sx1: "contact2" must be one of the following types: "switch, contact"

{
      "id": "sx1",
      "name": "Sx 1",
      "class": "HomeduinoRFContactSensor",
      "protocols": [
        {
          "name": "contact2",
          "options": {
            "id": 670325
          }
        }
      ],
      "autoReset": true,
      "resetTime": 3000
    },

[2016-02-09 11:49] Icesory commented on #805
The failure with contact2 is know. Will be fixed with the next Patch.

[2016-02-09 13:24] WimUtTwente opened #806 "After update current version is 0.8.66 to pimatic-homeduino (0.8.69)"
Error loading device Ben_st_lamp: Protocol "rolling1" has no property named "codeOn". Available properties are: "code"

  {
      "id": "Ben_st_lamp",
      "name": "Beneden_St_lamp",
      "class": "HomeduinoRFSwitch",
      "protocols": [
        {
          "name": "rolling1",
          "options": {
            "codeOn": [
              "001100000110011110101100",
              "001100101001000

[2016-02-09 13:53] WimUtTwente commented on #806
After update current version is 0.8.66 to pimatic-homeduino (0.8.69) #81

[2016-02-09 13:53] #806 closed

[2016-02-09 19:11] andi216 commented on #805
I changed "unit" to "channel".
The error has disappeared.
Thank you!

[2016-02-09 20:20] thost96 opened #807 "[pimatic-fritz] Unhandled rejection Error: [object Object]"
I have added pimatic-fritz to my config for switching guest wifi on and off. Now i'm getting this error:
[code]

here is my fritz plugin config:

[code]

What is causing this rejection?

[2016-02-10 10:30] Yves911 commented on #804
@Icesory thanks, i have discovered today that my contacts are back.
Thx
Yves

[2016-02-10 10:30] #804 closed

[2016-02-10 17:51] mwittig commented on #807
Hi, pimatic-fritz has its own issues queue. To get support from the plugin maintainer, please file the issue at https://github.com/andig/pimatic-fritz/issues

[2016-02-10 17:51] #807 closed

[2016-02-11 10:45] mwittig commented on #801
@sweebee  The [code block](https://github.com/pimatic/pimatic/blob/master/lib/framework.coffee#L352-L384) in question is responsible for enforcing authentication of incoming http requests. The log message is prompted in the last code block which is executed if the request neither contains login credential nor contains a cookie. I can reproduce this behaviour if disable using cookies in the browser

[2016-02-11 10:47] sweebee commented on #801
This message happened when i was working, so one one was accessing the mobile frontend. I use Locative to set the dummy pirs with the pimatic api, and a php script that reads the power usage from the api, but that only happens just before midnight.. Maybe that could be it?

[2016-02-11 10:51] mwittig commented on #801
A similar case we had with a .NET client - https://github.com/pimatic/pimatic/issues/760

[2016-02-11 11:14] mwittig commented on #801
@sweebee Possibly, May be you can do some isolated tests with the Locative app and the PHP script?! Unfortunately, the "Unauthorized" error does not appear to result in a HTTP error response. If I am doing this in the browser I get a 200 status  code and the "Unauthorized" is part of the response body data.

[2016-02-12 07:57] scobby commented on #792
no rule or something is triggered. its just a normal result of a switch event with the GUI. Currently i changed all my switches to the "execute ... "-method. This works without problems.

[2016-02-12 08:04] mwittig commented on #792
So, you are saying it is happening when you switch manually with the UI? That's what I tested. I'll try again and outline my test setup.

[2016-02-12 09:38] Icesory commented on #792
You have also problems with Homeduino.
https://github.com/pimatic/homeduino/issues/23
Eventually is your pimatic installation broken?

Which  plugins did you have installed to.
Can you post your complete config please.

[2016-02-12 10:34] scobby commented on #792
added the config in issue https://github.com/pimatic/homeduino/issues/23

[2016-02-12 10:35] scobby commented on #792
yeah it happen when i switch manual via webinterface.

[2016-02-12 10:45] mwittig commented on #792
Here is how I have tested it:

### Device Configuration

[code]

### Shell Script

[code]

### Log Output

[code]

[2016-02-12 11:02] mwittig commented on #792
Which browser do you use? - I have tested with Chrome 48, Firefox 43, Edge 25, and iOS Safari.

[2016-02-12 12:25] scobby commented on #792
i try to reproduce later. using chrome and safari.

[2016-02-14 07:38] DerGrafausB opened #808 "[MobileFrontend-Pimatic] "Iphone 6S Plus" Rotate"
If I rotate iPhone display, and rotate it back, it looks like this

![img_0611](https://cloud.githubusercontent.com/assets/17230502/13032530/43f890f0-d2f6-11e5-801e-f7fef009efd1.PNG)
![img_0612](https://cloud.githubusercontent.com/assets/17230502/13032531/43f9404a-d2f6-11e5-8c7e-277a8c8240e8.PNG)
![img_0613](https://cloud.githubusercontent.com/assets/17230502/13032532/43f96c14-d2f6-11e5-941a-3ca52

[2016-02-14 17:07] promille opened #809 "Not able to build pimatic"
Hi,

i want to build pimatic but without luck.

mode node version is set to 0.10 with nvm
`node --version
v0.10.24`

`npm install pimatic --prefix app --production`
...
`make: Verzeichnis „/home/pimatic/app/node_modules/pimatic/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/node_modules/bufferutil/build“ wird betreten
  CXX(target) Release/obj.ta

[2016-02-14 19:32] Wandmalfarbe opened #810 "config_default.json is propably outdated"
After starting pimatic for the first time I get the following error:

[code]

When I add the missing properties by hand everything is ok. After my modifications the config.json looks like this:

[code]

[2016-02-14 19:44] Man-in-Black opened #811 "Rules not loading after restart of Raspberry Pi"
Hi,

I got the following issue:
After a restart of my Raspberry PI, pimatic will start up automatically, but it will not load any rules.
After a manual restart of pimatic, rules were loaded properly.

Has anyone else got the same issue?

[2016-02-14 20:37] incmve commented on #810
There is no default password in the config file that's why you get that error.

[2016-02-15 07:50] Icesory commented on #809
Normally you can ignore the warn fields.
When it really not build to the end. Try it with sudo.

[2016-02-15 07:54] sweetpi commented on #811
Could you post your logfile after the restart an pimatic startup?

[2016-02-15 10:51] sweetpi commented on #810
@Wandmalfarbe Thanks for reporting.

You are right the default config is missing some values, that should be present. I will fix this.

This is normal behaviour if you have not set an password (like @incmve mentioned).

[2016-02-15 14:00] sweetpi commented on #810
Fixed in development branch.

[2016-02-15 14:00] #810 closed

[2016-02-15 14:02] sweetpi commented on #809
Try if it works. It looks "ok" :D. Please reopen if there are problems.

[2016-02-15 14:02] #809 closed

[2016-02-15 14:02] sweetpi commented on #808
Hm, can someone confirm this. Does it happen all the time or just randomly?

I have no ios device to test...

[2016-02-15 14:03] #805 closed

[2016-02-15 14:08] sweetpi commented on #803
I've removed the decl-api validation and all config schemes are now completely validated by jayschema. To be bachward compatible all `required` boolean attributes will normalized to the `required` array:

[code]

get automatic converted to

[code]

which is json scheme compatible.

You can now use the old boolean syntax or the array syntax.

[2016-02-15 14:08] #803 closed

[2016-02-15 14:24] sweetpi commented on #797
@roccomuso Nice project and thanks for posting here.

The gui concept is very interesting and looks very nice. I would have loved to see it as a alternative pimatic gui plugin (like the [pimatic-angular-material-frontend](https://github.com/denniss17/pimatic-angular-material-frontend)).

I have seen you have choosen RCSwitch as 433mhz solution. I think the homeduino approach is much more advanced

[2016-02-15 14:24] #797 closed

[2016-02-15 15:21] sweebee commented on #808
Happens to me also when there is a thermostat

[2016-02-15 17:03] poeml commented on #808
Happens all the time to me, and since a long time. My workaround is to reload the page in the browser, in "upright" orientation of the device. In horizontal orientation, reloading doesn't help.

[2016-02-15 17:20] mwittig commented on #808
I have a different behaviour on iPhone 6 using Safari. When I rotate the display the UI rotated but also zoomed. If I rotate again it will be zoomed again. This can be repeated up to some maximum zoom level. As I am a numb iPhone user I don't know how to zoom out again :(

Chrome ist showing the same behavour btw. Does the frontend provide for proper viewport settings?

[2016-02-15 19:25] Ruba5913 opened #813 "[pimatic-upnp-root]"
Hello,

After the last pimatic update on both pi's that I have, I get after every time after restarting the pi's this error:
error [pimatic]: Invalid config of pimatic-upnp-root: Property "uuid" is not a valid property.

I deleted the uuid of the plugin upnp-root and than restart the pi, no error occured.
 checked the plugin and there is a new uuid filled in.

Restarting second time and again the

[2016-02-15 19:52] Icesory commented on #813
I think the config Schemata of the upnp plugin is wrong. Pimatic got a new better config check. So this is now an failure. Eventually you should post this in the github page for this plugin.

[2016-02-15 20:02] sweetpi commented on #813
@Icesory is right. I submitted a pull request.

@Ruba5913 Thanks for reporting. You can ignore the error till a update for the plugin is available.

[2016-02-15 20:04] Man-in-Black commented on #811
sure, no problem.
I attached the logfile.

[Logfile_Pimatic_after_Raspberry_Restart.txt](https://github.com/pimatic/pimatic/files/131374/Logfile_Pimatic_after_Raspberry_Restart.txt)

[2016-02-15 20:05] sweetpi commented on #808
So the thermostat-device does cause the bug?

[2016-02-15 20:10] sweetpi commented on #811
Try to remove the pimatic-lirc plugin. I think it causes the trouble.

[2016-02-15 20:11] #813 closed

[2016-02-15 20:21] sweebee commented on #808
It also happens at the login screen when installed as app.

[Imgur](http://i.imgur.com/5xebiWr.jpg)

[2016-02-15 20:33] sweebee commented on #808
I think its a bug in safari. Happens on Some other webapps also. Chrome does the same because iOS chrome = safari

[2016-02-15 20:35] Man-in-Black commented on #811
I've tested it and without the Lirc-plugin, pimatic starts properly.

If I disable the pimatic-lirc plugin, is there another way to use infrared commanda with pimatic?

[2016-02-17 18:46] HermannDerUser opened #815 "Need help with the match of the log-reader-plugin and variables on cron-plugin"
Hello,

I have a logfile created from my HTPC like this:

Feb 14-16 19:59 - naechster Timer
Feb 14-16 22:08 - naechster Timer
Feb 15-16 04:10 - naechster Timer
Feb 16-16 19:59 - naechster Timer
Feb 16-16 22:10 - naechster Timer
Feb 17-16 19:59 - naechster Timer

Now I want to extract the date in in the variable 'TimerDate' and the time in 'TimerTime'. Can I create a rule like
`if it is $TimerDate

[2016-02-17 20:10] DerGrafausB commented on #808
i think it is not the thermostat.
![img_0622](https://cloud.githubusercontent.com/assets/17230502/13123102/d1594ba8-d5ba-11e5-83b6-7ae6ed56a37c.PNG)
![img_0623](https://cloud.githubusercontent.com/assets/17230502/13123104/d15b5d26-d5ba-11e5-8b30-f61f7c0b613e.PNG)
![img_0624](https://cloud.githubusercontent.com/assets/17230502/13123103/d159a97c-d5ba-11e5-9afb-1c11c14a7eb6.PNG)

[2016-02-17 20:27] #815 closed

[2016-02-17 21:05] sweetpi commented on #808
Ok you are right seems to be a safari bug: http://webdesignerwall.com/tutorials/iphone-safari-viewport-scaling-bug

[2016-02-17 21:07] #808 closed

[2016-02-18 09:38] sweetpi commented on #808
I've published a patch. Could you check if the problem still exists?

[2016-02-18 09:41] sweetpi commented on #811
I think the pimatic-lirc-plugin should be fixed. @tester22 can you ask the github support to detach your fork from the plugin-template, so that I can create a pull request for the issue?

[2016-02-18 10:18] tester22 commented on #811
Have asked the support to fix it.
I am not using Pimatic any more so if anyone want to take ownership of my 3 plugins that would be great.

[2016-02-18 10:28] sweetpi commented on #811
@tester22 Thanks for the quick replay. Yes please give me acces right to the github repos and the npm modules:

[code]
https://docs.npmjs.com/cli/owner

Thanks. What are using instead of pimatic?

[2016-02-18 10:35] tester22 commented on #811
Will fix when I am at home.
I am using an combination of Domoticz, Node-Red (with node-red-ui) and an custom node web app that acts as an mqtt ui.
All communication is MQTT based and I have built quite alot of physical objects that acts as remotes (ESP8826) . The thing that finally was a showstopper for me was that the config in Pimatic requires manual config, where domoticz adds everything that i

[2016-02-18 10:56] DerGrafausB commented on #808
It works!
Perfect.

Thank You

[2016-02-18 11:06] DerGrafausB commented on #808
You can rotate it, then it Shows the second room.
When you rotate it back, it is perfect.
I think it is better.

![img_0632](https://cloud.githubusercontent.com/assets/17230502/13141491/e5e804ec-d637-11e5-8c6e-6960417e8cc8.PNG)
![img_0633](https://cloud.githubusercontent.com/assets/17230502/13141492/e5ea7178-d637-11e5-83ef-0509a111f045.PNG)

[2016-02-18 11:17] sweetpi commented on #811
Thanks for the feedback. Device configuration will be improved greatly in v9.0. Autodiscovery and gui editing. What software du you use for the ESP8826 devices?

[2016-02-18 11:19] tester22 commented on #811
Nice, with automatic discovery. Saw that the Steward guys have started working on that project again so might change in the future.
I use custom arduino code on the esp8826 with the regular pubsub arduino client.

[2016-02-18 12:30] mwittig commented on #808
@sweetpi DId you consider "solution 2" to work around the problem? For usability concerns, "solution 1", i.e., setting maximum-scale, is not an ideal solution because user can not zoom the page.

[2016-02-18 20:18] mwittig commented on #773
Should be fixed now!

[2016-02-19 12:49] ds2216 opened #816 "API: Missing changeValveValueTo action for DummyHeatingThermostat"
It seems there is no way to change the valve value of a **DummyHeatingThermostat** via the api. Right?
Would be nice if it comes in a future release.

[2016-02-23 18:41] mwittig commented on #792
@scobby any news on this?

[2016-02-24 08:44] sweetpi commented on #816
Merged :)

[2016-02-24 08:44] #816 closed

[2016-02-24 10:07] p4co86 opened #818 "[pimatic-shell-execute] syntax error in the README"
i found a syntax error in the read me.
[code]

it should be:
[code]

[2016-02-25 16:36] Sjeff opened #819 "Pimatic does not start after update from 0.8.100 to 0.8.101"
Error: Startup error : error: ENOENT, no such file or directory '/home/pi/pimatic-app/node_modules/pimatic/lib/../locales'

Anyone know how to fix this?

09:17:51.826 [pimatic-mysensors] debug: <- I_LOG_MESSAGE 0;0;3;0;9;read: �'W��mismatch
09:17:51.864 [pimatic-mysensors] debug: <- I_LOG_MESSAGE 0;0;3;0;9;read: 0-0;0;3;0;9;gateway started, id=0, parent=0, distance=0
09:17:58.948 [pimatic-mobile-f

[2016-02-25 16:36] Sjeff commented on #819
`Error: Startup error : error: ENOENT, no such file or directory '/home/pi/pimatic-app/node_modules/pimatic/lib/../locales'

Anyone know how to fix this?
I will upload the logfile tonight for more info.

09:17:51.826 [pimatic-mysensors] debug: <- I_LOG_MESSAGE 0;0;3;0;9;read: �'W��mismatch
09:17:51.864 [pimatic-mysensors] debug: <- I_LOG_MESSAGE 0;0;3;0;9;read: 0-0;0;3;0;9;gateway started, id=0, p

[2016-02-25 18:35] sweebee opened #820 "@token is ']"
Is there a way to disable / remove this error? Its very annoying when editing rules with ```[ ]```

[code]

[2016-02-26 12:27] sweetpi commented on #820
Could you give an example rule that leads to this error?

[2016-02-26 14:36] sweebee commented on #820
All the rules that use '[ ]'.

Ex:
[code]

[2016-02-26 17:30] mwittig commented on #818
Released 0.8.15

[2016-02-26 17:30] #818 closed

[2016-02-26 21:24] p4co86 opened #821 "[pimatic-shell-execute] interval: 0 let CPU climb up to 100%"
When i set an interval to 0 the CPU goes to 100% till i change from 0 to 2000

[2016-02-27 00:19] mwittig commented on #821
Did you try with the latest release 0.8.15? It was among the things I fixed.  Please re-open if the issue still occurs.

It may be sensible to limit the minimal to something like 1000 as spawning a process is rather time consuming. So, doing shell executes at such a frequency will keep raspberry busy. What do you think?

[2016-02-27 00:19] #821 closed

[2016-03-02 08:10] #326 closed

[2016-03-03 14:28] hansjeu opened #823 "Pimatic ask to report this to you."
error [pimatic]: A uncaught exception occured: Error: getaddrinfo ENOTFOUND
    at errnoException (dns.js:37:11)
    at Object.onanswer [as oncomplete] (dns.js:124:16)
 This is most probably a bug in pimatic or in a module, please report it!
01:26:50error [pimatic]: A uncaught exception occured: Error: getaddrinfo ENOTFOUND
    at errnoException (dns.js:37:11)
    at Object.onanswer [as oncomplete

[2016-03-04 15:40] quintz opened #824 "XHR Poll Error after fresh install"
As described in the title I get an XHR Poll error after my 3rd fresh install.

I installed it via the installer (as described here: https://forum.pimatic.org/topic/909/pimatic-installer) on a 32 GB SD Card running the latest Raspbian version.
Then I waited a WHOLE day letting the sqlite3 build up the database.

Now I came home, eagerly awaiting to see my pimatic server running but again: XHR poll

[2016-03-04 16:43] Icesory commented on #824
for testing, you should start pimatic not as deamon.
first, stop the deamon with "sudo service pimatic stop"
and then you can start it with this
[code]
Now you can see all error direct in your console.

The other thing is, you must configure your config a little bit before it is working.
In the user part you must define password for the admin.
[code]

[2016-03-04 17:03] quintz commented on #824
thanks for the quick reply, Icesory!

I tried stating it as a non-deamon and it worked immediately! Thanks for that!
But I'm wondering why it doesn't work when I start it as deamon...?

Hmm...I already have set my admin password and stuff..

[2016-03-04 17:23] Icesory commented on #824
you can now test to start it manually as deamon with
"sudo node /home/pi/pimatic-app/node_modules/pimatic/pimatic.js start"

When this also works your init.d entry is broken

[2016-03-04 17:41] quintz commented on #824
Hm...When I manually start the daemon, I also get the XHR poll error...

[2016-03-06 17:39] sweetpi commented on #824
Your browser caches the whole frontend. The XHR poll error means, that it can't connect to the deamen (e.g. the deamon is not running or listening on a different port). To get real feedback if the deamon is running you can:

1. Test in an private / incognito window (so the browser does not display the cached page)
2. Check the process list (e.g. `ps -alx`) and the pimatic log file.

[2016-03-06 17:40] sweetpi commented on #823
Thanks for reporting, can you post your installed and activated plugins? Best would be the startup log with the plugin names and versions.

[2016-03-06 18:07] sweebee opened #825 "error [pimatic]: typeof p.changeListener is "function""
I get this error with 1 rule, and can't delete it or modify it.

rule:

[code]

This rule doesn't work of course but i was testing what date would work. After some 'guessing' i can't edit/remove this rule anymore. and i get:
[code]

Happened on my home pimatic installation and the installation at work.

[2016-03-07 19:08] quintz commented on #824
Thanks for all the advices!
What I did:
-Formated the SD card with erase and write method to make it 100% clean.
I now reinstalled pimatic again, step by step and with any caution I could give.
Everything worked fine, I noticed though, that I had some warnings while installing. It warned me, that the graceful-fs wasn't up to date and could cause problems.
After the installation, I launched the ser

[2016-03-07 20:27] Icesory commented on #824
Database is locked looks like a other pimatic instance is running and has the database open. But I have no experience with sqlite

[2016-03-11 15:42] WimUtTwente opened #826 "pimatic-openweather TypeError: Cannot read property 'icon' of undefined"
[code]

[2016-03-11 16:53] mwittig commented on #826
I think this is the same issue as https://github.com/pimatic/pimatic/issues/772

@WimUtTwente Do you also get following error right the before the TypeError occurs?
[code]

[2016-03-11 16:57] mwittig commented on #792
No feedback. @scobby please re-open if you still have the issue. Did you try to reproduce with the outlined test case?

[2016-03-11 16:57] #792 closed

[2016-03-11 17:00] mwittig commented on #786
No feedback. @p4co86, please reopen if you wish to follow up on this.

[2016-03-11 17:00] #786 closed

[2016-03-11 17:04] mwittig commented on #758
This still requires some action from my side. It would be nice to move to lodash 4, but unfortunately some deprecated functions have been removed - mostly renamed functions

[2016-03-12 07:35] sweetpi commented on #824
@Icesory is right.

This seems to be no actual bug, but a problem troubleshooting thread. @quintz Please ask the question in the forum. I'm closing this issue to keep the issue section clear.

[2016-03-12 07:35] #824 closed

[2016-03-12 12:38] mwittig commented on #772
Looking at the timestamps of the two exception, I think the ECONNRESET exception possibly is not related to openweathermap. There is a gap of 39 seconds between the two exceptions.

[2016-03-12 13:00] mwittig commented on #826
Fixed with pimatic-openweather@0.8.19

[2016-03-12 13:00] #826 closed

[2016-03-12 13:28] sweetpi commented on #819
Sorry closed this accidently. @Sjeff did you get it to work?

[2016-03-12 13:28] #819 closed

[2016-03-12 14:56] sweetpi commented on #825
Thanks for reporting, is fixed in pimatic v0.8.102.

[2016-03-12 14:56] #825 closed

[2016-03-12 14:56] sweetpi commented on #820
Thanks for reporting, is fixed in pimatic v0.8.102.

[2016-03-12 14:56] #820 closed

[2016-03-12 14:57] sweetpi commented on #823
I added some code to trace the error down to the causing plugin. Please update to pimatic v0.8.102 and report with the new logged error message if the problem happens again.

[2016-03-12 14:57] #823 closed

[2016-03-12 14:58] sweetpi commented on #772
I added some code to trace the cause of the ECONNRESET exception in pimatic v0.8.102. Please update to the newest version and reopen with the new error message when the error happens again.

[2016-03-12 14:58] #772 closed

[2016-03-12 15:01] #801 closed

[2016-03-12 15:11] leader21 commented on #801
@sweebee have you solved it? If yes can you tell what  the issue has been?

[2016-03-12 15:12] sweebee commented on #801
Well, it never happened again. Don't know why but it works.

[2016-03-14 10:40] mwittig commented on #28
I am closing this ticket as we have two plugins for hue now plus hue support:
* pimatic-hue
* pimatic-hue-zll

Additional, we have the ongoing development of hue support as part of pimatic-led-light, but this has not been released yet.

[2016-03-14 10:40] #28 closed

[2016-03-15 08:09] #746 closed

[2016-03-16 13:49] nickdunning1 commented on #348
Hi Guys, not sure if anyone can help me here.  I am a Control4 Home Automation Installer and I have a couple of the WiFi 370 Controllers at home and I use the app to control the colour.  I have the ability to send TCP or UDP or HTTP GET and POST commands.  The format is the IP address Port Number and command.  I have tried a few things, but I cant seem to get it to work.  can you give me a list of

[2016-03-16 14:55] leader21 commented on #348
@nickdunning1
check some posts. I posted some  code for bash scripts in use with  the node-wifi-370 library. This works for me.

[2016-03-16 15:03] nickdunning1 commented on #348
Im not sure I can send a script, I only have one line of input, but I will have a look, thank you

[2016-03-16 15:54] leader21 commented on #348
ah sorry! now i got it ... just checked for control4 home. sorry, with my above solution won't work!

[2016-03-16 16:30] mwittig commented on #348
@nickdunning1 May be you can figure it out by reviewing the reviewing the code of some base library, e.g. <https://github.com/secesh/node-rgb/blob/master/index.js>. Generally, the command syntax is very simple, i.e. 3 and 5 byte sequences.

[2016-03-17 08:41] nickdunning1 commented on #348
Hi @mwittig thanks for the reply.  I dont really know enough about sending this type of command.  I have tried a few things, but dont seem to get any response form the unit, but this is probably due to my lack of knowlage.

I have logged onto he device and and under application settings I have changed this to Client with the IP address of the unit 192.168.1.20 and selected UDP as the protocol.

In

[2016-03-18 08:57] nickdunning1 commented on #348
I have played around with this a bit now, but there are so many variations I cant seem to get right.

On the device, I dont know if should be Server or Client mode??  If anyone can help that would be great, im sure this is easy if you know all the information.

[2016-03-18 13:35] CIURI86 opened #827 "MySQL Database errors"
Every 2-3 minutes I get this error message . I think something is wrong with the query on the database...I use MySQL Database ....

`error [pimatic]: select distinct `tags` from `message` order by `time` desc - UNKNOWN_CODE_PLEASE_REPORT: Expression #1 of ORDER BY clause is not in SELECT list, references column 'pimatic.message.time' which is not in SELECT list; this is incompatible with DISTINCT`

[2016-03-18 15:23] nickdunning1 commented on #348
@mwittig Hi Marcus, I am getting connected, when I send the command I can see in the Lua window in Control4, if I turn the device off form the power I get Server is Off Line but when its on I get strStatus = ONLINE as below, so it must just be the command i am sending wrong.  I am just sending 86, 255, 255, 255, 170 to see if I can get a change to happen.

18/03/2016 15:19:03 - idBinding = 6001
nP

[2016-03-18 17:29] leader21 commented on #348
Hey guys since this is a little off (pimatic) topic I would appreciate if you could discuss possible solutions on the forum. What do you think about that? Furthermore you're having more users that you can reach by the forum.pimatic.org
also consider about using pimatic for your led and domotics tasks ;)

[2016-03-18 17:36] nickdunning1 commented on #348
Hi @leader21 Chris, sorry I am new to this and my questions are about the wifi370 and sending it commands, so I thought this was the correct place to post.

[2016-03-18 17:52] mwittig commented on #348
@nickdunning1 Sorry for not being of much help here as Chris and I are not familiar with Control4 Home. It does not seem to easy to find detailed technical information about Control4 Home (like a user manual)  on the internet. As Chris said you should forward your questions at <forum.pimatic.org> where you can reach several hundreds of users.

If you're willing to install pimatic may be pimatic ca

[2016-03-18 18:03] nickdunning1 commented on #348
@mwittig no problem and I understand, I dont mind giving anything a try, its not so much Control4 issue, this is a 3rd party driver inside Control4 that is able to send TCP / UDP / HTTP commands to an IP address and would be much easier to program, so if a button is pushed Control4 would send the command.  I will plug away and if I cant do, i will install pimatic as they may help me.  Thanks for t

[2016-03-18 18:04] leader21 commented on #348
@nickdunning1 no problem! I totally understand :) well our community is really helpful and there are some good tinkerers amongst us. Even if it's off topic maybe you will find help though. Would be interesting as Marcus said to have some more and detailed information on how c4h is communicating with external hardware. Our pimatic home automation is very versatile and maybe there's a way to combine

[2016-03-20 00:56] Joeseth commented on #348
Does anyone have a link/dropbox of the firmware 4.02.10.hx08? I updated to the latest firmware & all is not well. Was functioning ok with the previous firmware version (as mentioned in above comments), oddly, but I've lost functionality now...much to my distress. Any help would be much appreciated!

[2016-03-20 07:54] sweetpi commented on #798
Fixed in v0.9, will be released soon

[2016-03-20 07:54] #798 closed

[2016-03-20 07:55] sweetpi commented on #774
Fixed in 0.9

[2016-03-20 07:55] #774 closed

[2016-03-20 08:38] sweetpi commented on #780
Added with pimatic-max v0.8.15

[2016-03-20 08:38] #780 closed

[2016-03-20 17:23] OmgImAlexis opened #828 "mixed content on pimatic.org"
[code]

[2016-03-20 21:49] sweebee opened #829 "[v0.9] Shell execute error"
```Error: Cannot read property 'length' of undefined``` when executing an command from rule.

[2016-03-20 21:58] sweebee opened #830 "[v0.9] Could not parse expression variables device"
I'm getting this error with the variables device. The device uses variables of an other device.

[code]

device attr:
[code]

[2016-03-20 22:32] sweetpi commented on #829
Which version of pimatic-shell-execute? Is there no stack trace?

[2016-03-20 22:33] sweetpi commented on #830
Du you have may previous errors, so that the device didn't load?

[2016-03-20 22:38] sweebee commented on #830
The kwh meter variables do update fine. Names of the variables match the variables of the kwh device.

Full error:
[code]

[2016-03-20 22:46] sweebee commented on #829
latest version 0.8.18.

[code]

[2016-03-20 23:18] sweebee opened #831 "[v0.9] error saving rules"
Got this when saving any rule:

It happens when i have an:

dimmer
or
switch
or
button press

Does not appear when:

using log "hello"
or
activate hue scene "Candle"

Looks like it only happens with action providers integrated in pimatic self?

[code]
[code]

[code]

[2016-03-20 23:32] sweebee opened #832 "[v0.9] Error editing device"
Pimatic crashes when editing (recreating) a device:

[code]

[2016-03-21 00:15] mwittig commented on #829
Same error here. It worked fine with the snapshot it took last Thursday.

[2016-03-21 00:18] mwittig opened #833 "v0.9 Plugin installation now gives all kind errors"
When I do the installation from the command line (pimatic-prowl) it works

[code]

[2016-03-21 06:26] sweetpi commented on #833
This happens, because not all installed plugins have updated peerDependencies. It will go away if all plugins are marked compatible.

[2016-03-21 06:31] sweetpi commented on #832
Dublicate of #831

[2016-03-21 06:57] #831 closed

[2016-03-21 07:02] sweebee commented on #833
What i do is change the package.json. And add pimatic 0.9 support. and then manually npm install. If it still doesn't work check if it uses some old libraries and check if a newer version works. Like homeduino wants an old version of serialport.

[2016-03-21 07:24] sweebee opened #834 "[v0.9.1] whenPredicateIsTrue is not defined"
Got this error when a pir status is  received:

[code]

[2016-03-21 08:12] sweebee commented on #832
Still not always working after update:

happens like 1/4 times.

[code]

[2016-03-21 08:22] sweebee commented on #834
[code]

[2016-03-21 09:58] mwittig commented on #833
@sweetpi I still dont't get it

[code]

">=0.8.0 <1.0.0" should work.

[2016-03-21 14:25] sweetpi commented on #833
I'm not sure but maybe its beacause the peer dependcies of imatic-prowl conflict with for example pimatic-openweather. Maybe on wron peerDependency does make all plugins shout :D

[2016-03-21 23:11] sweebee commented on #829
And i get very high CPU usage with this plugin enabled.

[2016-03-22 06:56] sweetpi commented on #832
The SetVariableActionHandler was missing... Should be really fixed now.

[2016-03-22 06:56] #832 closed

[2016-03-22 06:57] sweetpi commented on #834
Fixes

[2016-03-22 06:57] #834 closed

[2016-03-22 06:58] sweetpi commented on #829
I'm think this is an effect resulting of other errors. Couldn't reproduce the issue with the other two rule bugs fixed. @sweebee Could you retest?

[2016-03-22 07:57] sweebee commented on #829
Still no luck. Also reinstalled shell execute. (still wants pimatic < 0.9 btw)

[2016-03-22 08:01] sweebee commented on #829
Different error btw:
[code]

[2016-03-22 08:30] sweebee opened #835 "[v0.9] Error after editing device"
You fixed the issue where pimatic crashed after editing a device.

When I edit a pimatic-hue-zlll bulb (the grouped ones xxxxxxxxxxGroup)
Doesn't happen with the normal bulb devices.

I get this:

[code]

Don't know if this is a bug in the hue plugin or in pimatic?

[2016-03-22 09:21] sweebee commented on #829
Found out it executes fine.

[2016-03-22 11:56] mwittig opened #836 "[v0.9] Error on incoming http request: Can't set headers after they are sent. Error: Can't set headers after they are sent."
What I did
- Removed all plugins except for pimatic-mobile-frontend
- Started with a fresh config (copy from template plus admin password set)

[code]

[2016-03-22 18:22] sweebee commented on #830
After recreating the device I couldn't reproduce it anymore.

[2016-03-22 18:31] sweebee commented on #835
And one more error, sometimes pimatic gives an error with:

[code]
But the device is edited.

[2016-03-22 18:31] sweebee commented on #830
To soon, after a reboot the  problem is back again.

When i edit the device and click save it works again.

[2016-03-22 18:37] philkunz opened #837 "prebuild plugin dependencies and database without starting server."
Is there an easy way to build the plugin dependencies etc. without starting the server (program exiting before listening on standard port)?

This would be nice to build pimatic docker images that put less strain on the raspberry
... plus it would minimize downtime between two deployments.

[2016-03-22 19:18] sweebee opened #838 "[v0.9] Can't remove device attribute (array)"
I can't remove a item in a array of the device editor. You have to hold and move it to the red bar but i can't get it on top of the red bar :p

Browsers:

Safari
Chrome

Screenshot:
![](https://i.imgur.com/Qd8zHHY.png)

[2016-03-23 16:46] philkunz commented on #837
OK, I found that the best approach will be to write a CI plugin, that goes active when process.env.CI is a string "true" and terminates pimatic once ready. Then we can go on in the build process of the image. When a container is then started from that image on the raspberry pi the startup will be really quick.

[2016-03-24 08:11] daice24 opened #839 "Pimatic crashes every time on Pi2"
Hi guys, i have a big problem. A couple of weeks ago i switched my hardware from Raspberry Pi B+ to an Pi2. For the first shot i used the same SD Card and Image. I have updated the debian and everything seems to work. But the system was not working for more than one day. Then it crashes completly, not only Pimatic. The system was not responding over ssh so the only thing i could do was switch the

[2016-03-24 08:59] mwittig commented on #839
* Do you have USB Devices connected? If yes, disconnect them as much as possible. If you use a WiFi dongle consider using LAN cable instead for testing
* Which Power Supply do you use. A lot of stability problems are actually power problems.
* It might also be an issue with SD card, but normally you should see file systems errors in the log at some point.

[2016-03-24 09:11] daice24 commented on #839
Hi,

i used a new SD card with the new installation. The Pi is connected over LAN, but there are a some USB devices connecetd (directly connected: 2 serial devices and ardoino nano; on USB HUB: GEMBIRD Power Socket, WLAN dongle.
I used one power supply (5V,3A) for Pi and USB hub. After the problems started i used an aditional power supply for the pi (5V,1,2A).

[2016-03-24 19:56] Xento opened #840 "Cannot update from 0.8.101 to 0.8.102"
When I try to update from 0.8.101 everything seems to work.
But when I restart pimatic than the update notification is still there ...
I have tried this many many times.
Other updates like plugins etc. work.

[2016-03-24 19:57] Xento opened #841 "error: [Error: Couldn't find plugin info for pimatic-plugin-commons]"
When I start pimatic I get the following error:
20:48:22.155 [pimatic] error: [Error: Couldn't find plugin info for pimatic-plugin-commons]

But pimatic seems to work.

[2016-03-25 14:54] sweetpi commented on #840
Could you post the log?

[2016-03-25 14:59] Xento commented on #840
14:19:40.673 [pimatic] info: Starting pimatic version 0.8.101
	14:19:42.475 [pimatic] warn: Could not find a device with the ID "dhtbuero" from group "buro" in devices config section.
	14:19:42.481 [pimatic] warn: Could not find a device with the ID "dhtbuero" from page "status" in devices config section.
	14:19:42.484 [pimatic] warn: Could not find a device with the ID "dhtbuero" from page "heizu

[2016-03-25 15:22] sweetpi commented on #840
Thanks, no install output. Strange. What is you npm version? `npm --version`

[2016-03-25 15:30] mwittig opened #842 "[v0.9, pimatic-file-browser] Filebrowser does not work"
Presumably this is due to changes in express v4.
"Middleware and routes are now executed in the order they're added."

[2016-03-25 15:42] Xento commented on #840
root@bananapi ~ # npm --version
3.7.3

[2016-03-25 15:56] mwittig commented on #839
Regarding powering: 5V,1,2A should be OK in most cases, however, a 1.8 - 2.5A power supply (PSU) is officially  recommended for Raspi 2 <https://www.raspberrypi.org/help/faqs/#powerReqs>. Despite the nominal capacity of the PSU there other aspects which come into play and some PSUs are known to cause problems. Make sure to have look at <http://elinux.org/RPi_VerifiedPeripherals#Problem_power_Adapt

[2016-03-25 16:08] sweetpi commented on #840
Downgrade to npm2 `npm install -f npm@2`

[2016-03-25 17:16] Xento commented on #840
Now it worked. Didn't noticed that I had a wrong version of npm installed.

[2016-03-25 19:00] sweetpi commented on #840
We should add some check and warning.

[2016-03-26 08:46] sweetpi commented on #833
If one plugin has a wrong peer-dependency all following plugin installations throw the 'EPEERINVALID' error. I added some code to ignore this error.

[2016-03-26 08:46] #833 closed

[2016-03-26 08:47] sweetpi commented on #829
It should be fully fixed now (https://github.com/pimatic/pimatic-shell-execute/commit/2b94eded82e747e0e9f638ebb7dcdbd95cf82bc8).

[2016-03-26 08:47] #829 closed

[2016-03-26 08:57] sweetpi commented on #836
I can't reproduce this. Maybe some mobile-frontend caching issue? Did you use the same port like for a previous v0.8 setup?

[2016-03-26 10:23] sweetpi commented on #836
I added some path info and check if headers already sent. Please reopen if the error occurs again.

[2016-03-26 10:23] #836 closed

[2016-03-26 10:23] sweetpi commented on #830
It was a race condition with variable initialization. Fixed in latest v0.9 beta.

[2016-03-26 10:23] #830 closed

[2016-03-26 10:27] sweetpi commented on #842
I think the problem was that "directory" middleware was not included in express 4 anymore. I move it to "serve-index" middleware and it is now working (https://github.com/pimatic/pimatic-filebrowser/commit/1a254b5bf57b54342c1b35a503f213e7adba43fa).

[2016-03-26 10:27] #842 closed

[2016-03-26 11:49] sweebee commented on #838
Fixed

[2016-03-26 11:49] #838 closed

[2016-03-26 12:51] sweetpi commented on #835
Does this happen on save?

[2016-03-26 12:55] sweebee commented on #835
Yes indeed. Click save and i get that error. But the device is edited properly.

[2016-03-26 13:07] sweetpi commented on #835
Thanks, is fixed in the latest beta. The pimatic-hue-zll is plugin related. I will write some infos for plugin authors as soon as pimatic v0.9 is usable.

[2016-03-26 13:07] #835 closed

[2016-03-26 13:08] sweetpi commented on #840
I've added a npm version check in v0.9 and in the upcoming v0.8 release.

[2016-03-26 13:08] #840 closed

[2016-03-26 13:08] sweetpi commented on #838
Yes fixed :)

[2016-03-29 16:53] mwittig opened #845 "[v0.9.x, pimatic-sysinfo] error [pimatic]: name in ["
I have changed the device-config-schema as follows to be able to edit the "attributes" property and to have a reasonable set of default values (I thought it might be helpful to have all values (attribute entity names) included so that the user can simply drop values not required. When I create a new device with the device editor the device is properly displayed. However, when I click on "save" an

[2016-03-29 18:30] sweebee opened #846 "[v0.9] remove device from pages/groups on delete"
If you remove a device from the devices page it remains in the pages/groups. So you get an error on (re)boot. If a device is removed from the GUI, it also should remove it from all the pages/groups.

[code]

[2016-03-30 13:37] sweetpi commented on #845
The attributes array contains objects with name property not plain strings. Therefore the assert https://github.com/pimatic/pimatic-sysinfo/blob/development/sysinfo.coffee#L40 did fail.

I added a correct config scheme: https://github.com/pimatic/pimatic-sysinfo/commit/2a1c995a92d05bf5fd56c3ec723a24c55bdb45d3

[2016-03-30 13:37] #845 closed

[2016-03-31 08:17] chrigui opened #847 "pulling data from sparkfun phant"
is it possible to pull data from a phant data stream ?

sample stream: https://data.sparkfun.com/streams/dZ4EVmE8yGCRGx5XRX1W
Data Export methods: Json, CSV, Mysql, PostgeSQL, ATOM

is there a way to pull data using the mentioned methods please ?

thank you.

[2016-03-31 09:31] sweebee commented on #762
+1 fixed with:

[code]

[2016-03-31 09:47] mwittig commented on #847
You can pull the data in desired format, e.g, JSON using curl or wget and do some script-based post processing, e.g., extract the most recent data record using something like https://github.com/trentm/json. Then, you can push data into pimatic by setting up variables in pimatic which will be set using the pimatic REST API. There are couple of example how to do this, which can be found on Pimatic F

[2016-03-31 09:49] chrigui commented on #847
@mwittig Thanks Marcus i will look in to it and report back if it worked. :)

[2016-03-31 10:32] mwittig commented on #412
Apparently,  it is not possible to use "IF every 1 month".

[2016-03-31 19:57] mwittig commented on #412
Ok, sweetpi told me that every 1 month is not going to work, but `its "1st of month"` can be used as work-around

[2016-04-03 12:50] leader21 opened #848 "Config browsing on mobile has issues"
Scrolling in the config editor seems to have issues.
see https://forum.pimatic.org/topic/1625/edit-pimatic-with-smartphones/

[2016-04-05 11:41] Xento opened #849 "Very big database"
Hello,

my database has grown very big.
Actualy its over 7 gb big.

Although the cpu usage is really high, about 50% after restart.
After some time it drops to normal but until this happens pimatic is unusable.

What can I do to reduce the size?

Her are my loggingsettings:

		"httpServer": {
		  "enabled": true,
		  "port": 8080
		},
		"debug": false,
		"locale": "de",
		"logLevel": "info",
		"da

[2016-04-05 15:22] Xento commented on #849
I reduced the time.
Will the database shrinked by pimatic or do i have to do it with the workaround of dumping it and than importing to a new file?

[2016-04-06 21:06] fritz-hh opened #850 "Issue with the update function after the internet connection was down"
How to reproduce it:
- In the GUI select "update" while the internet connection is down (In my case due to an issue on ISP side)
- Try GUI select "update" again after the internet connection is up --> Still the "update" function returns an error message (Even 1 day after the internet connection is back to normal state)
- The problem only disappeared after restarting pimatic

Extract of the log fil

[2016-04-07 06:08] sweetpi commented on #837
I like the idea. What you currently can do is install plugins before starting via running

[code]

However the coffeescript files are compiled on damned on startup.

[2016-04-07 06:10] sweetpi commented on #847
I'm closing this issue here, because its more a general question not a bug report please continue in the forum.

[2016-04-07 06:10] #847 closed

[2016-04-07 06:12] sweetpi commented on #849
@Xento Check out this topic: https://forum.pimatic.org/topic/44/database-configuration-howto/2

pimatic automatically deletes all experied entries. Check you intervals and data count in the database frontend page. Closing this here, because its more a question & answer. Please continue at the forum.

[2016-04-07 06:24] sweetpi commented on #828
Big thanks for reporting. Fixed.

[2016-04-07 06:24] #828 closed

[2016-04-07 09:55] philkunz commented on #837
I actually did automate it with coffee cache compilation, though it is rather dirty approach:

1. the repo is being picked up by CI
2. CI is then getting a resin.io SSH Key through a secure ENV Variable
3. resin starts building the docker image and  runs an install js during build which starts a small server on port 80 and then spawns pimatic as a child process, where I can control error behaviour

[2016-04-07 17:54] EelcH commented on #348
@Joeseth What happend? I have a device with firmware 4.02.11T.zj0.1 and I consider a downgrade.

[2016-04-07 18:09] incmve commented on #348
What problems do you have? Mine seems to work fine until I restart then it won't connect to my wifi any more.

[2016-04-07 20:09] leader21 opened #851 "system crashes with pimatic-max plugin"
from the forum
https://forum.pimatic.org/topic/1610/pimatic-max-plugin-broken-since-the-last-update/4

[code]

[2016-04-07 22:49] Xento commented on #849
I removed my complete databse and started a new one but after 2 days it is again 2gb big.

Here are my Settings

		"database": {
		  "deviceAttributeLogging": [
			{
			  "deviceId": "*",
			  "attributeName": "*",
			  "expire": "3d",
			  "type": "*",
			  "interval": "30sec"
			},
			{
			  "deviceId": "*",
			  "attributeName": "temperature",
			  "expire": "60d",
			  "interval": "30min",

[2016-04-08 07:16] sweetpi commented on #849
@Xento Post a screenshot form your database page in the mobile-frontend

[2016-04-08 19:54] sweetpi commented on #851
Fixed in latest release.

[2016-04-08 20:06] Xento commented on #849
Found the issue.
pimatic-max write very much to debug. This causes pimatic to use about 20% cpu and database growth when you don't specify that debug messages shouldn't be logged.

[2016-04-08 20:32] sweetpi commented on #837
I'm not sure how you solve it, but you can set PIMATIC_CONFIG env variable to the config file path to load the config from a different location.

[2016-04-08 20:35] philkunz commented on #837
that is useful info, thank you. :) When it is ready, I'll publish a pimatic docker container on dockerhub for use with resin.io (which is free for applications with up to 5 devices).

[2016-04-08 22:05] mwittig commented on #849
@sweetpi Why are log messages written to DB? Is it used somehow with pimatic? If the service wrapper is used the messages will be written to a log files anyway.

[2016-04-09 06:46] Xento commented on #849
When I switch the debug view on in the gui it says: Showing 124 of 237812 Messages
I will add this to my config:

	{
	  "level": "debug", "tags": [],
	  "expire": "0"
	}

[2016-04-09 08:15] sweetpi commented on #849
Sounds good.

[2016-04-09 08:19] sweetpi commented on #850
Hm we cache the update info for 1min. Maybe the cache isn't cleared probably after an error. I will take a look.

[2016-04-09 11:12] fritz-hh commented on #850
Thanks for the feedback.
Am 09.04.2016 10:19 schrieb "sweet pi - sweet home" <
notifications@github.com>:

[2016-04-09 12:56] leader21 opened #852 "strange behaviour of debug messages frontend"
From the forum
https://forum.pimatic.org/topic/1606/strange-behaviour-messages-debug-in-pimatic-frontend

[code]

[2016-04-10 19:13] leader21 opened #853 "Homeduino generic sensor reports error when state is "null""
from the forum :
https://forum.pimatic.org/topic/1645/homeduino-generic-sensor-reports-error-every-minute-when-sensor-is-off

When the sensor is switched off the value of my sensor 'homeduino-generic-sensor1.WW-VL' gets 'null' and pimatic reports the following error every minute.

debug [pimatic]: Error: Expected variable homeduino-generic-sensor1.WW-VL to have a numeric value.
    at /home/pi/pim

[2016-04-11 17:35] quintz opened #854 "Modules missing?"
Hi folks,

i finally managed to get pimatic to run but I got some errors in the log.
It said
[code]
Do you have an idea what could be the problem?

It is a freshly installed pimatic.

[2016-04-12 20:44] johnappletree opened #855 "Problem with SSL"
I'm trying to configure SSL. However after running the ssl-setup script and adjusting the config file pimatic wont start anymore.

config file:

The log file look like this. The first start was with https enabled, the second time with https disabled. it looks like it is going wrong at " [pimatic-cron] info: the time is: Tue Apr 12 2016 22:26:46 GMT+0200 (CEST)"

Whats the problem that im facing?

[2016-04-16 07:05] DerGrafausB opened #856 "Pimatic Max Plugin failed after Upadte from 15.04.2016"
A uncaught exception occured: TypeError: First argument needs to be a number, array or string.
09:01:43.080 [pimatic]>    at new Buffer (buffer.js:188:15)
09:01:43.080 [pimatic]>    at MaxCube.parseCommandMetadata (/home/pi/pimatic-app/node_modules/pimatic-max/node_modules/max-control/index.js:180:24)
09:01:43.080 [pimatic]>    at MaxCube.parseCommand (/home/pi/pimatic-app/node_modules/pimatic-max

[2016-04-16 14:19] DerGrafausB commented on #851
i have the same problem, since the last update 0.8.17

[2016-04-16 14:31] sweetpi commented on #855
Try to start pimatic in non deamon mode: `./pimatic-app/node_modules/pimatic/pimatic.js` and hope you see any error in the output. Without an error message its really hard to find the actual problem.

[2016-04-16 14:32] sweetpi commented on #854
Could you enable debug logging (see #137) and post the corresponding stack traces?

[2016-04-16 17:55] mwittig commented on #856
@sweetpi Most likely it is a bug of the underlying max-control package.
https://github.com/sweetpi/max-control/blob/master/index.js#L178-L180

[2016-04-16 17:59] sweebee opened #857 "[v0.9] homeduino adding device through gui wrong"
If i add a homeduino device its saving the ID as string, not as a number. Don't know if this happens with other protocols.

has something to do with:
https://github.com/pimatic/rfcontroljs/blob/master/lib/protocols/switch1.js#L18

I guess? should be number?

[2016-04-16 18:02] #846 closed

[2016-04-16 18:10] sweebee opened #858 "[v0.9] homeduino buttons device, protocol not editable"
Its not possible to set/edit the protocol options through the gui with the homeduinoRFButtonsDevice.

[2016-04-16 18:12] sweebee commented on #858
Screenshot:

![](https://i.imgur.com/soSQLzL.png)

[2016-04-16 18:46] sweebee commented on #852
+1 this worked before, now it doesn't. pimatic 0.8 and 0.9.

[2016-04-17 12:11] sweetpi opened #859 "pimtaic v0.9 info"
The new beta version v0.9 will be released in early June. This new version will **require a manual
update**, because it will only work on **Node.js version 4** or newer.

There are some breaking changes for users and developers:

#### Rule System
 * We introduced ECA rules: The rule syntax changes from `if conditions then actions` to
   `when events and if condition then actions`, where the `and i

[2016-04-17 14:47] sweetpi commented on #856
Hm that's really strange. @DerGrafausB  which cube firmware do you use?

Could you please add the following log statement in `/home/pi/pimatic-app/node_modules/pimatic-max/node_modules/max-control/index.js` line 179 (https://github.com/sweetpi/max-control/blob/master/index.js#L179):

[code]

and post the output.

[2016-04-17 15:12] sweetpi opened #860 "locales: Use keys as source and allow plugins to extend locales"
Locales are unmanageable in the current form. The following changes are needed:

## 1. Switch to key based locales:

[code]

=>

[code]

and use the keys in the source files. This makes scanning for a usage much easier and changing strings easier.

## 2. Allow plugins to deploy there own locales

## 3. Introduce a scope for locales that are used in the frontend.

Currently all locales are transfer

[2016-04-17 20:10] leader21 opened #861 "v0.8.103 needs npm v2 - error after update"
from the forum
check here : https://forum.pimatic.org/topic/1669/error-after-updating-pimatic

After updating to the latest 0.8.103 version of pimatic the following error occurs in the logs:
error [pimatic]: pimatic needs npm version 2, your version is 1.3.21, run "npm install -g npm@2".

[2016-04-18 05:34] sweetpi commented on #861
Relaxed the check to npm v < 3

[2016-04-18 05:34] #861 closed

[2016-04-18 09:48] mwittig opened #862 "[v0.9] pimatic sometimes exits on restart via UI"
If pimatic is restarted via UI after a plugin has been activated it sometimes exits. There is no error message in the log, last message seen:
[code]

[2016-04-18 09:49] sweebee commented on #862
+1 same here. If i click restart on the plugin page.

[2016-04-18 18:37] DerGrafausB commented on #856
the cube was empty, no rooms, firmware 1.41. I connected all devices, added romms.
And it works.
The Ids are the same.

[2016-04-18 18:46] michbeck100 opened #863 "[v0.9] grunt-bump@0.7.2 wants grunt@>=1.0.1 but grunt-coffeelint@0.0.8 wants grunt@~0.4"
the grunt-bump dependency in v0.9.x uses a caret which means that all versions up to 1.0.0 will be included. Unfortunately version 0.7.1 adds a dependency to grunt in version >= 1.0.1.
Because of that pimatic won't let me npm install the 0.9 branch anymore.

[2016-04-18 19:57] johnappletree commented on #855
Thanks sweetpi for the Tip. It solved the problem! I figured out from that log that an other service was using the 443 port. I changed the https port in the configuration file and now it's working.
This problem can be closed.

[2016-04-19 05:58] quintz commented on #854
I think I managed to find out what the problem was.
I made a clear reinstall of pimatic again but this time I started pimatic the first time via  the .js and not via the daemon.
This way I could see when it was finished with compiling. I guess the module wasn't installed because I interrupted the compiling process.
Now everything's fine. So this can be closed.

[2016-04-19 05:58] #854 closed

[2016-04-19 09:22] sweebee commented on #859
What is the benefit of or/and if/when? like in:

[code]

[2016-04-19 18:45] michbeck100 opened #865 "[v0.9] Should node version for travis build be 4.x?"
Since pimatic 0.9.x supports node 4.x, i would suggest setting the version to build in travis to 4.x, too. This makes sure that no changes break this compatibility.

[2016-04-19 20:05] mwittig commented on #865
Thanks for pointing this out! Changed for v0.9.x branch. However, the travis builds are failing at the moment as there is an issue with coffeelint:app. So, more work is required on the build setup.

[2016-04-19 20:06] michbeck100 commented on #865
id did fix this already with https://github.com/pimatic/pimatic/pull/864 ;-)

[2016-04-19 20:06] mwittig commented on #841
@Xento Has this been solved, yet?

[2016-04-19 22:50] mwittig commented on #865
Great. Merged & Build is passing now :)

[2016-04-19 23:17] #865 closed

[2016-04-20 10:15] sweebee commented on #862
Today I had to restart it manually again but that failed:

[code]

[2016-04-20 11:06] mwittig commented on #863
Merged, but needs review.
How to handle this for the future?

[2016-04-20 20:03] thexperiments opened #866 "Out of memory crash"
Currently I cant supply more, nothing suspicious in the normal pimatic log.

[code]

[2016-04-20 21:04] thexperiments commented on #866
Momory steadily growing

I turned on all logs and see something suspicious from homeduino

[code]

Memory usagage after ca 10 min

[code]

[2016-04-20 22:09] mwittig commented on #866
Is it pimatic 0.8.x you're referring to?

[2016-04-21 08:17] thexperiments commented on #866
Yes, was my productive system

[2016-04-22 07:25] thexperiments commented on #866
Happened again yesterday, seems after the last updates it can only last max 1 day. Ideas how I could find such a memory leak in an nodejs programm?

[2016-04-22 07:45] mwittig commented on #866
Heapdump: https://strongloop.com/strongblog/node-js-performance-tip-of-the-week-memory-leak-diagnosis/

I'll ask @sweetpi to have a look to get his thoughts on this one

[2016-04-22 07:51] mwittig commented on #866
@thexperiments Can you please check which version of "serialport" is installed in your setup? The version number can be found in
`/home/pi/pimatic-app/node_modules/pimatic-homeduino/node_modules/homeduino/node_modules/serialport/package.json`.

[2016-04-22 07:54] sweetpi commented on #866
@thexperiments

1. check you sd card. It may could be faulty.
2. A heapdump of node.js would be nice: https://github.com/bnoordhuis/node-heapdump
3. Did you check the memory usage after some hours run time?

Bacause it is your production system, you could try to downgrade to the last working version.